<div class="hero" style="margin-bottom: 0px">
  <%= erb :'partials/_location-title-bar'%>
  <%= erb :'partials/_location-tabs', :locals => { :active => "locationStats" } %>
</div>
<div style="margin-top: 10px" class="row">
  <h2 class="section-group-title">Location Stats Page</h2>
</div>
<div class="row">
  <div id="country-list">
    <table id="dataTable" class="display" style="width: 100%; display: none">
      <thead>
          <tr>
              <th>Country</th>
              <th>Projects Active</th>
              <th>Project Budget</th>
              <th>Top Sector</th>
              <th>UK Government Departments (Count)</th>
          </tr>
      </thead>
      <tbody>
        <%dfid_bottom_table_data.each do |key,val|%>
          <%if val["projects"] > 0 && val["budget"] > 0%>
            <tr>
              <td><a href="/countries/<%= val['id']%>"><%= val['country']%></a></td>
              <td><%= val['projects']%></td>
              <td><%= Money.new(val['budget'].to_f*100,"GBP").format(:no_cents_if_whole => true,:sign_before_symbol => false)%></td>
              <td>
              <% if sectorData.key?(key) %>
                <%= sectorData[key].first[1]['name']%> (<%= ((sectorData[key].first[1]['budget']*100)/val['budget']).round(3) %>%)
              <%end%>
            </td>
            <td>
              <% if reportingOrgData.key?(key) %>
                <span class="showRepOrgList">
                  <%= reportingOrgData[key].count %>
                </span>
                <div class="locStatRepOrgTableHolder">
                  <table class="repOrgTable" class="display" style="width: 100%">
                    <thead>
                      <tr>
                        <th>UK Government Department Name</th>
                      </tr>
                    </thead>
                    <tbody>
                      <%reportingOrgData[key].each do |item|%>
                        <tr>
                          <td><%= returnDepartmentName(item)%></td>
                        </tr>
                      <%end%>  
                    </tbody>
                  </table>
                </div>
              <%end%>
            </td>
            </tr>
          <%end%>
        <%end%>
      </tbody>
    </table>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.js" type="text/javascript"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<script type="text/javascript">
  $(document).ready(function() {
    $('#dataTable').DataTable({
      "info":     false,
      "paging": false
    });
    $('#dataTable').show();
    $('.repOrgTable').DataTable({
      "info":     false,
      "paging": false,
      "searching": false
    });
    $('.showRepOrgList').hover(function(){
      $('.locStatRepOrgTableHolder').hide();
      var countPosition = $(this).offset();
      console.log(countPosition);
      var styles = {
        top: countPosition.top - 420,
        left: countPosition.left - 100,
        display: "inline-table"
      };
      $(this).parent().children('.locStatRepOrgTableHolder').css(styles);
    },function(){
      $('.locStatRepOrgTableHolder').hide();
    });
  });
</script>