<!--
title: Development Tracker
-->
<div class="hero hero-notabs">
<div id="page-title" class="row">
    <div class="twelve columns">
        <img src="/cw/images/cw_ukaid_logo.png" alt="UK aid from the British people"><img src="/cw/images/cw-logo.png" title="the commonweatlth logo">
        <div>
            <div class="breadcrumb">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/sector">Aid by Sector</a></li>
                    <li><a href="/sector/<%=sector_list[:sectorHierarchyPath][:highLevelSectorCode]%>/"><%=sector_list[:sectorHierarchyPath][:highLevelSectorDescription]%></a></li>
                    <li><a href="/sector/<%=sector_list[:sectorHierarchyPath][:highLevelSectorCode]%>/categories/<%=sectorData['categoryCode']%>"></a></li>
                    <li><a href="/sector/<%=sector_list[:sectorHierarchyPath][:highLevelSectorCode]%>/categories/<%=sectorData['categoryCode']%>"><%=sector_list[:sectorHierarchyPath][:categoryDescription]%></a></li>
                    <li><%= sectorData['sectorName'] %></li>
                </ul>
            </div>
            <h1>
                Aid by Sector
            </h1>
        </div>
    </div>
</div>
</div>
<%#= partial "partials/_project_list", :locals => { :projects => projects.to_a } %>
<%= erb :'cw/partials/_cw_project_list', :locals => { :projects => projects, :oipa_api_url => oipa_api_url, :sectorData => sectorData, :project_count => total_projects, :countryAllProjectFilters => countryAllProjectFilters, :highLevelSectorList => highLevelSectorList, :oipa_api_url => oipa_api_url, :total_projects => total_projects, :budgetHigherBound => budgetHigherBound, :actualStartDate => actualStartDate, :plannedEndDate => plannedEndDate, :locationCountryFilters => locationCountryFilters, :locationRegionFilters => locationRegionFilters, :documentTypes => documentTypes, :implementingOrgTypes => implementingOrgTypes } %>