<!--
published: true
title: Development Tracker
 -->

 <div class="govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="/">Home</a></li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">Aid by Department</li>
    </ol>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">UK Government Spend</h1>
        <p class="govuk-body">In the UK, the 0.7% commitment on Official Development Assistance (ODA) spend applies across government. The Foreign, Commonwealth and Development Office (FCDO) is the UK's primary channel for aid but in response to the changing world, more aid is administered by other government departments, drawing on their complementary skills.</p>
        <p class="govuk-body">The <a href="https://www.gov.uk/government/publications/uk-governments-strategy-for-international-development" class="govuk-link" target="_blank">International Development Strategy</a> sets the direction for all of the UK government's development work. Each department is responsible for ensuring that their own ODA budgets are allocated optimally, spent well and published to IATI.</p>
    
        <h2 class="govuk-heading-m">Programmes by UK Government Department</h2>

        <div class="app-logos">
            <div class="app-logo" data-dept="FCDO">
                <div class="app-logo__department fcdo">
                    <img src="/assets/images/govuk-crest.svg" class="app-logo__department--logo" />
                    <span class="app-logo__department--name govuk-body-xs">Foreign, Commonwealth and Development Office</span>
                </div>
            </div>
            <div class="app-logo" data-dept="BEIS">
                <div class="app-logo__department dbeis">
                    <img src="/assets/images/govuk-crest.svg" class="app-logo__department--logo" />
                    <span class="app-logo__department--name govuk-body-xs">Department for Business, Energy and Industrial Strategy</span>
                </div>
            </div>
            <div class="app-logo" data-dept="DEFRA">
                <div class="app-logo__department defra">
                    <img src="/assets/images/govuk-crest.svg" class="app-logo__department--logo" />
                    <span class="app-logo__department--name govuk-body-xs">Department for Environment Food and Rural Affairs</span>
                </div>
            </div>
            <div class="app-logo" data-dept="DIT">
                <div class="app-logo__department dit">
                    <img src="/assets/images/govuk-crest.svg" class="app-logo__department--logo" />
                    <span class="app-logo__department--name govuk-body-xs">Department for International Trade</span>
                </div>
            </div>
            <div class="app-logo" data-dept="DWP">
                <div class="app-logo__department dwp">
                    <img src="/assets/images/govuk-crest.svg" class="app-logo__department--logo" />
                    <span class="app-logo__department--name govuk-body-xs">Department for Work & Pensions</span>
                </div>
            </div>
            <div class="app-logo" data-dept="DFE">
                <div class="app-logo__department dfe">
                    <img src="/assets/images/govuk-crest.svg" class="app-logo__department--logo" />
                    <span class="app-logo__department--name govuk-body-xs">Department for<br /> Education</span>
                </div>
            </div>
            <div class="app-logo" data-dept="HMT">
                <div class="app-logo__department hmt">
                    <img src="/assets/images/govuk-crest.svg" class="app-logo__department--logo" />
                    <span class="app-logo__department--name govuk-body-xs">HM Treasury</span>
                </div>
            </div>
            <div class="app-logo" data-dept="MOD">
                <div class="app-logo__department mod">
                    <img src="/assets/images/mod-crest.svg" class="app-logo__department--logo mod" />
                    <span class="app-logo__department--name govuk-body-xs">Ministry of Defence</span>
                </div>
            </div>
            <div class="app-logo" data-dept="HO">
                <div class="app-logo__department ho">
                    <img src="/assets/images/ho-crest.svg" class="app-logo__department--logo ho" />
                    <span class="app-logo__department--name govuk-body-xs">Home Office</span>
                </div>
            </div>
            <div class="app-logo" data-dept="DCMS">
                <div class="app-logo__department dcms">
                    <img src="/assets/images/govuk-crest.svg" class="app-logo__department--logo" />
                    <span class="app-logo__department--name govuk-body-xs">Department for Digital, Culture, Media and Sport</span>
                </div>
            </div>
            <div class="app-logo" data-dept="DH">
                <div class="app-logo__department dhsc">
                    <img src="/assets/images/govuk-crest.svg" class="app-logo__department--logo" />
                    <span class="app-logo__department--name govuk-body-xs">Department of Health & Social Care</span>
                </div>
            </div>
            <div class="app-logo" data-dept="CDC">
                <div class="app-logo__department bii">
                    <img src="/assets/images/bii.svg" class="app-logo__department--logo bii" />
                </div>
            </div>

            <div class="app-logo" data-dept="ONS">
                <div class="app-logo__department ons">
                    <img src="/assets/images/ons.svg" class="app-logo__department--logo ons" />
                </div>
            </div>
        </div>

        <table class="govuk-table datatable">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header" aria-sort="ascending">Department</th>
                    <th scope="col" class="govuk-table__header" aria-sort="none">&pound;m</th>
                    <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none">% UK ODA%</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
              <% odas.each do |oda| %>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"  data-order="<%= oda[1][0]["name"] %>"><%= oda[1][0]["name"] %></td>
                  <% if oda[1][0]["value"] >= 0 %>
                    <td class="govuk-table__cell" data-order="<%= oda[1][0]["value"]%>">&pound;<%= oda[1][0]["value"].to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse %>m</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric" data-order="<%= oda[1][0]["percentage"] %>"><%= oda[1][0]["percentage"] %>%</td>
                  <%else%>
                    <td class="govuk-table__cell">~</td>
                    <td class="govuk-table__cell  govuk-table__cell--numeric">0.0%</td>
                  <%end%>
                </tr>
              <% end %>
            </tbody>
        </table>
        <p class="govuk-body">Source: <a target="blank" class="govuk-link" href="https://www.gov.uk/government/collections/statistics-on-international-development">Statistics on International Development</a></span>
    </div>
</div>

<script src="/javascripts/jquery.dataTables.min.js" type="text/javascript"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $('.app-logo').click(function(){
      window.location.href = '/department/' + $(this).data('dept');
    });
    $('.datatable').DataTable({
        "info": false,
        "paging": false,
        "searching": false        
    });    
  });
</script>