<nav class="moj-sub-navigation" aria-label="Sub navigation">
    <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
        <a href="/countries/<%= country['code'] %>" class="moj-sub-navigation__link" <%= active=="summary" ? "aria-current='page'" : ""%>>Summary</a>
        </li>
        <%if project_count!=0 %>
            <li class="moj-sub-navigation__item"><a href="/countries/<%= country['code'] %>/projects" class="moj-sub-navigation__link" <%= active=="projects" ? "aria-current='page'" : ""%>>Active <span>Programmes (<%=project_count%>)</span></a></li>
        <%end%>
    </ul>
</nav>