<h1 class="govuk-heading-l"><%= region[:name] + " Region"%></h1>
<nav class="moj-sub-navigation" aria-label="Sub navigation">
    <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
        <a href="/regions/<%= region[:code] %>" class="moj-sub-navigation__link" <%= active=="summary" ? "aria-current='page'" : ""%>>Summary</a>
        </li>
        <%if project_count!=0 %>
            <li class="moj-sub-navigation__item"><a href="/regions/<%= region[:code] %>/projects" class="moj-sub-navigation__link" <%= active=="projects" ? "aria-current='page'" : ""%>>Active <span>Programmes (<%=project_count%>)</span></a></li>
        <%end%>
    </ul>
</nav>


<% regionSubscription = false
if project_count > 0  && regionSubscription%>
    <span>
        <a id='Subscribe' href="https://public.govdelivery.com/accounts/UKDFID/subscriber/new?topic_id=UKDFID_<%= format_query_string region['code'] %>" title="Subscribe to receive updates on <%= region['name'] %> by email" class="button inform">&#9993; Subscribe</a>
    </span>
<% end %>