<div class="row">
  <div class="twelve columns transactions" style="margin-top: 15px">
    <%if !transactionsList.nil? && transactionsList.length > 0 %>
     <div class="section-group-title trans-header-container">
          <div class="trans-header-left">
            <span class="trans-type-title"><%= transactionTypeTitle %></span>
            <a class="more-info-link more-info-link-spacer" id="moreinfolink<%=cssId%>" target="2">
               <img src="/images/icon-information.png" alt="More information about <%= transactionTypeTitle %>" class="more-info-link-middle"/>
            </a> 
            <aside id="moreinfo<%=cssId%>" class="more-info">  
                  <div class="more-info-content trans-more-info-box-limiter">
                   <%= transactionTypeDetails %>
                  </div>
            </aside>   
            <p style="margin-bottom:2px;"><%= transactionTypeDetails2 %></p>
           </div>  

           <div class="trans-header-right">
              <% if transactionsList.uniq{|m| m['currency']['code']}.count == 1%>
                <% totalTransactionValue=get_sum_transaction(transactionsList).to_f %>
                <div class="<%= totalTransactionValue.round(0) < 0 ? 'negative' : ''%> float-right trans-type-value">
                  <%begin%>
                  <%= Money.new(totalTransactionValue.round(0)*100, project['aggregations']['activity_children'][transactionCurrencyParameter]).format(:no_cents_if_whole => true,:sign_before_symbol => false)%>
                  <%rescue
                  end%><a href="<%= csvurl%>" class="api-link button">CSV</a>
                </div>
              <%end%>
           </div>        
      </div> 
      <table class="transactions-tablev2 display" style="width:100%; display: none">
        <thead>
          <tr>
            <%if transactionTypeTitle != 'Disbursements' %>
              <th><%= "Activity Description" %></th>
            <%end%>
            <%if transactionTypeTitle == 'Incoming Funds' %>
            <th>Provider</th>
            <%end%>
            <%if transactionTypeTitle != 'Incoming Funds' && transactionTypeTitle != 'Commitments'  %>
              <th><%= fifthcolumn%></th>
            <%end%>
            <%if transactionTypeTitle == 'Disbursements' %>
              <th><%= "Organisation Type" %></th>
            <%end%>
            <%if transactionTypeTitle != 'Incoming Funds' %>
            <th>IATI Activity ID</th>
            <%end%>
            <th>Date</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <% transactionsList.sort{ |a,b| b['transaction_date']  <=> a['transaction_date'] }.each do |transaction| %>
            <tr>
              <%if transactionTypeTitle == 'Commitments' %>
                <% h2Activities = get_h2_project_details(project['id'])%>
                <td><%= get_h2Activity_title(h2Activities,transaction['activity']['id']) %></td>
              <%elsif transactionTypeTitle == 'Disbursements' %>
              <%else%>
                <td><%= if !transaction['description'].nil? then transaction['description']['narratives'][0]['text'] else "" end %></td>
              <%end%>
              <%if transactionTypeTitle != 'Incoming Funds' && transactionTypeTitle != 'Commitments' && transactionTypeTitle != 'Disbursements'%>
                <td><%= if !transaction['receiver_organisation'].nil? then if transaction['receiver_organisation']['narratives'].length > 0 then transaction['receiver_organisation']['narratives'][0]['text'] else "" end else "" end %></td>
              <%end%>
              <%if transactionTypeTitle == 'Disbursements' %>
                <%if !transaction['receiver_organisation'].nil?%>
                  <%if !transaction['receiver_organisation']['ref'] != ''%>
                    <%tempOrg = project['participating_organisations'].select{|p| p['ref'].to_s == transaction['receiver_organisation']['ref'].to_s}%>
                    <td><%if !tempOrg.nil? && tempOrg.length > 0%><%= tempOrg[0]['narratives'][0]['text']%><%else%><%= "N/A" %><%end%></td>
                  <%else%>
                    <td><%= if transaction['receiver_organisation']['narratives'].length > 0 then transaction['receiver_organisation']['narratives'][0]['text'] else "" end %></td>
                  <%end%>
                <%else%>
                  <td>N/A</td>
                <%end%>
                <%if !transaction['receiver_organisation'].nil? %>
                  <%if !transaction['receiver_organisation']['type'].nil? %>
                    <td><%= transaction['receiver_organisation']['type'] %></td>
                  <%else%>
                    <%tempOrg = project['participating_organisations'].select{|p| p['ref'].to_s == transaction['receiver_organisation']['ref'].to_s}%>
                    <td><%if !tempOrg.nil? && tempOrg.length > 0 && transaction['receiver_organisation']['ref'].to_s != ''%><%= tempOrg[0]['type']['name']%><%else%><%= "N/A" %><%end%></td>  
                  <%end%>
                <%else%>
                  <td>N/A</td>
                <%end%>
              <%end%>
              <%if transactionTypeTitle != 'Incoming Funds' %> 
                <td><%= is_dfid_project(transaction['activity']['id']) ? transaction['activity']['id'] : ''  %></td>
              <%end%>
              <%if transactionTypeTitle == 'Incoming Funds' %>
              <td><%= 
              if transaction['provider_organisation'].nil? then '' 
                else if transaction['provider_organisation']['narratives'][0].nil? then '' 
                else transaction['provider_organisation']['narratives'][0]['text'] end + 
              if transaction['provider_organisation']['provider_activity_id'].nil? then '' else " (" + transaction['provider_organisation']['provider_activity_id'] + ")" end  end   %></td>
              <%end%>
              <td data-order="<%= Date.parse(transaction['transaction_date']).strftime("%Q")%>"><%= Date.parse(transaction['transaction_date']).strftime("%d %b %Y")%></td>
              <td class="<%= transaction['value'].to_f.round(0) < 0 ? 'negative' : ''%>" style="text-align:right;">
              <%begin%>
                <%= Money.new(transaction['value'].to_f.round(0)*100, transaction['currency']['code']).format(:no_cents_if_whole => true,:sign_before_symbol => false) %>
                <%rescue
                end%>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>

<script src="/javascripts/jquery-3.3.1.js" type="text/javascript"></script>
<script src="/javascripts/jquery.dataTables.min.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/jquery.dataTables.min.css">
<script type="text/javascript">
  var jq3 = jQuery.noConflict(true);
  jq3(document).ready(function() {
    jq3('.transactions-tablev2').DataTable({
      retrieve: true,
      "info": false,
      "paging": false,
      "searching": false
    });
    jq3('.transactions-tablev2').show();
  })
</script>