<div class="row">
  <div class="twelve columns transactions" style="margin-top: 15px">
    <%if !transactionsList.nil? && transactionsList.length > 0 %>
     <div class="section-group-title trans-header-container">
          <div class="trans-header-left">
            <span class="trans-type-title"><%= transactionTypeTitle %></span>
            <a class="more-info-link more-info-link-spacer" id="moreinfolink<%=cssId%>" target="2">
               <img src="/images/icon-information.png" alt="More information about <%= transactionTypeTitle %>" class="more-info-link-middle"/>
            </a> 
            <aside id="moreinfo<%=cssId%>" class="more-info">  
                  <div class="more-info-content trans-more-info-box-limiter">
                   <%= transactionTypeDetails %>
                  </div>
            </aside>   
            <p style="margin-bottom:2px;"><%= transactionTypeDetails2 %></p>
           </div>  

           <div class="trans-header-right">
              <%# if transactionsList.uniq{|m| m['currency']['code']}.count == 1%>
                <% totalTransactionValue=get_sum_transaction(transactionsList).to_f %>
                <div class="<%= totalTransactionValue.round(0) < 0 ? 'negative' : ''%> float-right trans-type-value">
                  <%begin%>
                  <%= Money.new(totalTransactionValue.round(0)*100, transactionsList.first['transaction_value_currency']).format(:no_cents_if_whole => true,:sign_before_symbol => false)%>
                  <%rescue
                  end%><a href="<%= csvurl%>" class="api-link button">CSV</a>
                </div>
              <%#end%>
           </div>        
      </div> 
      <table class="transactions-tablev2 display" style="width:100%; display: none">
        <thead>
          <tr>
            <%if transactionTypeTitle != 'Commitments' &&  transactionTypeTitle != 'Disbursements'%>
              <th><%= "Activity Description" %></th>
            <%end%>
            <%if transactionTypeTitle == 'Incoming Funds' %>
            <th>Provider</th>
            <%end%>
            <%if transactionTypeTitle != 'Incoming Funds'  %>
              <th><%= fifthcolumn%></th>
            <%end%>
            <%if transactionTypeTitle == 'Disbursements' ||  transactionTypeTitle == 'Commitments'%>
              <th><%= "Organisation Type" %></th>
            <%end%>
            <%if transactionTypeTitle != 'Incoming Funds' %>
            <th>IATI Activity ID</th>
            <%end%>
            <th>Date</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <% transactionsList.sort{ |a,b| b['transaction_date_iso_date']  <=> a['transaction_date_iso_date'] }.each do |transaction| %>
            <tr>
              <%if transactionTypeTitle == 'Commitments' %>                
              <%elsif transactionTypeTitle == 'Disbursements'%>
              <%else%>
                <td><%= if transaction.has_key?('transaction_description_narrative') then transaction['transaction_description_narrative'].first else "" end %></td>
              <%end%>
              <%if transactionTypeTitle != 'Incoming Funds' && transactionTypeTitle != 'Commitments' && transactionTypeTitle != 'Disbursements'%>
                <td><%= if transaction.has_key?('transaction_receiver_org_narrative_text') then transaction['transaction_receiver_org_narrative_text'].first else "" end %></td>
              <%end%>
              <%if transactionTypeTitle == 'Disbursements' || transactionTypeTitle == 'Commitments' %>
                <%if transaction.has_key?('transaction_receiver_org_narrative_text')%>
                  <%if transaction['transaction_receiver_org_narrative_text'].first == 'Excluded' || transaction['transaction_receiver_org_narrative_text'].first == 'Not available'%>
                    <td><%= transaction['transaction_receiver_org_narrative_text'].first %></td>
                  <%elsif transaction.has_key?('transaction_receiver_org_ref')%>
                    <td><%= transaction['transaction_receiver_org_narrative_text'].first %></td>
                  <%else%>
                    <td></td>
                  <%end%>
                <%else%>
                  <td>N/A</td>
                <%end%>
                <%if transaction.has_key?('transaction_receiver_org_narrative_text') %>
                  <%begin%>
                    <td><%= get_org_text(transaction) %></td>
                  <%rescue%>
                    <td>N/A</td>
                  <%end%>
                <%else%>
                  <td>N/A</td>
                <%end%>
              <%end%>
              <%if transactionTypeTitle != 'Incoming Funds' %> 
                <td><%= is_dfid_project(transaction['iati_identifier']) ? transaction['iati_identifier'] : ''  %></td>
              <%end%>
              <%if transactionTypeTitle == 'Incoming Funds' %>
              <td><%= 
              if !transaction.has_key?('transaction_provider_org_ref') then '' 
              else if !transaction.has_key?('transaction_provider_org_narrative') then '' 
              else transaction['transaction_provider_org_narrative'] end + 
              if transaction.has_key?('transaction_provider_org_ref') then " (" + transaction['transaction_provider_org_ref'] + ")" else '' end  end   %></td>
              <%end%>
              <td data-order="<%= Date.parse(transaction['transaction_date_iso_date']).strftime("%Q")%>"><%= Date.parse(transaction['transaction_date_iso_date']).strftime("%d %b %Y")%></td>
              <td class="<%= transaction['transaction_value'].to_f.round(0) < 0 ? 'negative' : ''%>" style="text-align:right;">
              <%begin%>
                <%= Money.new(transaction['transaction_value'].to_f.round(0)*100, transaction['transaction_value_currency']).format(:no_cents_if_whole => true,:sign_before_symbol => false) %>
                <%rescue
                end%>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>