<!DOCTYPE html>
  <!--[if lt IE 7]><html class="ie6"> <![endif]-->
  <!--[if IE 7]><html class="ie7"> <![endif]-->
  <!--[if IE 8]><html class="ie8"> <![endif]-->
  <!--[if gt IE 8]><!--> 
    <html lang="en">
  <!--<![endif]-->

  <head>
    <meta charset="utf-8">
    <meta name="description" content="The Development Tracker uses open data on international development published in the International Aid Transparency Initiative (IATI) open data standard by the UK Government and partners to show where the UK is investing in developing countries." />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Development Tracker</title>

    <!--[if gte IE 9]><!--><link href="/stylesheets/fonts.css" media="screen" rel="stylesheet" type="text/css" /><!--<![endif]-->
   
    <script src="/assets/js/jquery-3.6.0.min.js"></script>
    <script src="/javascripts/js.cookie.min.js" type="text/javascript"></script>
   
    <!--[if lt IE 9]>
      <script src="/javascripts/ie-compat.js?1435740689" type="text/javascript"></script>
    <![endif]-->
   
    <script src="/javascripts/d3.js" type="text/javascript"></script>
    <script src="/javascripts/design-custom.js" type="text/javascript"></script>

    <link rel="stylesheet" href="/assets/scss/moj-frontend.min.css" />
    <link rel="stylesheet" href="/assets/scss/application.min.css" />

    <script> 
      $(document).ready(function() {
        /*Cookie usage reference*/
        // console.log(Cookies.get('my_cookie'));
        // console.log(Cookies.set('my_cookie', 'test'));
        // console.log(Cookies.get('my_cookie'));
        $('#IncludeClosedProjects').change(function(){
            if(this.checked){
              $('#includeClosed').val('1');
            }
            else{
              $('#includeClosed').val('0'); 
            }
          });
          $(".more-info-link").click(function(e){
              e.stopPropagation();
              $(this).parent().children('aside').toggle();
              //$("#moreinfo"+$(this).attr('target')).toggle();
            });
          
          $(".more-info").on('click', function(e){
              e.stopPropagation();
            });

          $(document).on('click', function(e){
              $(".more-info").hide(); 
            });
            $('#search').submit(function(){
              $('.modal_free_text_search').show();
              setTimeout(patience,10000);
              setTimeout(patience_second_level,20000);
            });
            var patience = function(){
              $('.modal_free_text_search div').html('<div>Still Searching... <br /> Please Wait<br /><br /><br /><br /><br /></div>');
            };
            var patience_second_level = function(){
              $('.modal_free_text_search div').html('<div>The search is taking longer than expected.<br> Would you like to <span><a href="#" class="cancel_form_submission">cancel</a></span> the search or wait?<br/><br/><br/><br/><br/><br/><br/></div>');
            };
            $('.modal_free_text_search').click(function(){
              window.stop();
              $(this).hide();
              $('.modal_free_text_search div').html('<div>Searching...<br /><br /><br /><br /></div>');
            });
        });
      </script>

      <!-- hotjar tracking code for devtracker -->
      <script>
          (function(h,o,t,j,a,r){
              h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
              h._hjSettings={hjid:3148260,hjsv:6};
              a=o.getElementsByTagName('head')[0];
              r=o.createElement('script');r.async=1;
              r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
              a.appendChild(r);
          })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
      </script>

      <link rel="apple-touch-icon" href="/images/ios/apple-touch-icon.png" />
      <link rel="apple-touch-icon" sizes="57x57" href="/images/ios/apple-touch-icon-57x57.png" />
      <link rel="apple-touch-icon" sizes="72x72" href="/images/ios/apple-touch-icon-72x72.png" />
      <link rel="apple-touch-icon" sizes="76x76" href="/images/ios/apple-touch-icon-76x76.png" />
      <link rel="apple-touch-icon" sizes="114x114" href="/images/ios/apple-touch-icon-114x114.png" />
      <link rel="apple-touch-icon" sizes="120x120" href="/images/ios/apple-touch-icon-120x120.png" />
      <link rel="apple-touch-icon" sizes="144x144" href="/images/ios/apple-touch-icon-144x144.png" />
      <link rel="apple-touch-icon" sizes="152x152" href="/images/ios/apple-touch-icon-152x152.png" />
      <link rel="apple-touch-icon" sizes="180x180" href="/images/ios/apple-touch-icon-180x180.png" />
  </head>
  
  <body>
    <script>document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');</script>

    <%= erb :'partials/_cookies'%>  

    <%= erb :'partials/_header'%>  

    <div class="app-banner app-banner-homepage govuk-!-width-full">
      <div class="govuk-width-container app-width-container">
          <div class="app-banner__content">
              <div>
                  <h1 class="govuk-heading-l app-banner__title">Making development assistance more transparent</h1>
                  <p class="govuk-body-m app-banner__text">
                      <!-- The UK Government is tackling major global challenges including poverty and disease, mass migration, insecurity and conflict, working to end extreme poverty. -->
                      Our work is building a safer, healthier, more prosperous world for people in developing countries and in the
                      UK too. This site shows in detail the international development programmes led by the Foreign, Commonwealth
                      and Development Office (FCDO), other government departments and partners.
                  </p>
              </div>
              <div>
                  <img src="/assets/images/uk-aid_logo-w.png" alt="UK aid from the British people"
                        class="app-banner__image">
              </div>
          </div>
      </div>
    </div>

    <div class="govuk-width-container app-width-container">
        <main role="main" class="govuk-main-wrapper govuk-main-wrapper--auto-spacing app-main-wrapper govuk-!-padding-top-6" id="content">
          <div id="whatsnew-banner">
            <p><span></span></p>
          </div>

          <%= yield %>
      </main>
    </div>
    
    <%= erb :'partials/_footer'%> 

    <script src="/assets/js/moj-frontend.min.js"></script>
    <script type="module" src="/assets/govuk/govuk-frontend-5.0.0.min.js"></script>
    <script type="module">
      import { initAll } from '/assets/govuk/govuk-frontend-5.0.0.min.js'
      initAll()
    </script>
    <script src="/assets/js/dev-tracker.js"></script>
    <script>
      window.MOJFrontend.initAll();
    </script>

    <%if request.cookies['accept_cookie'].nil? %>
      <script>
        $(document).ready(function() {
          $('#cookieAccepted').hide();
          $('#cookieRejected').hide();
          function clearCookies(){
            var cookies = document.cookie.split("; ");
            for (var c = 0; c < cookies.length; c++) {
                var d = window.location.hostname.split(".");
                while (d.length > 0) {
                    var cookieBase = encodeURIComponent(cookies[c].split(";")[0].split("=")[0]) + '=; expires=Thu, 01-Jan-1970 00:00:01 GMT; domain=' + d.join('.') + ' ;path=';
                    var p = location.pathname.split('/');
                    document.cookie = cookieBase + '/';
                    while (p.length > 0) {
                        document.cookie = cookieBase + p.join('/');
                        p.pop();
                    };
                    d.shift();
                }
            }
          };
          $('#cookieDiv').show();
          $('#acceptCookie').click(function(){
            Cookies.set('accept_cookie', 1, { expires: 90 });
            $.getScript("https://www.googletagmanager.com/gtag/js?id=G-34D74G152F");
            $.getScript("/javascripts/analytics.js");
            $.getScript("/javascripts/analytics_FCDO.js");
            $('#cookieDiv').hide();
            $('#cookieAccepted').show();
          });
          $('.close-cookies').click(function(){
            $('#cookieAccepted').hide();
            $('#cookieRejected').hide();
          });
          $('#rejectCookie').click(function(){
            clearCookies();
            Cookies.set('accept_cookie', 0, { expires: 90 });
            $('#cookieDiv').hide();
            $('#cookieRejected').show();
          });
        });
      </script>
    <%elsif request.cookies['accept_cookie'] == '1'%>
      <%= erb :'partials/_analytics'%> 
    <%end%>
  </body>
</html>

