---
title: Development Tracker
---

<%= partial "partials/location-title-bar" %>
<%= partial "partials/location-tabs" , :locals => { :active => "global" }  %>

<div class="row">
    <div class="twelve columns map">
        <div id="map" class="static-background"></div>

	    <div class="disclaimer grey">
	        <p><em>Disclaimer: </em>Country borders do not necessarily reflect the UK Government's official position.</p>
	    </div>

	    <script src="/javascripts/circlegraph.js" type="text/javascript"></script>
	    <script type="text/javascript">
            var labels = {
	            header : 'Total global budget ' + '<%= current_financial_year %>',
	            amount : '\u00A3' + '<%= format_billion_stg dfid_total_projects_budget 'global' %>'.replace('&pound;', '')
	        }

	       	var container = $('#map');
	        var graph = new CircleGraph(container);
	        graph.drawGlobalProjectsGraph(labels);

	        $(window).resize(function() {
	        	if (container.width != graph.width) {
	        		graph.drawGlobalProjectsGraph(labels);
	        	}
	        });
	    </script>
      <script type="text/javascript">
        var projectsData = <%= dfid_global_projects_data %>;
        var regionsData = {
          totalSpend : <%= dfid_total_projects_budget 'global' %>,
          regionalProjects : projectsData.filter(function(p) {
            return p.budget > 0;
          })
        }

          var labels = {
              header : 'Total global budget ' + '<%= current_financial_year %>',
              amount : '\u00A3' + '<%= format_million_stg dfid_total_projects_budget 'global' %>'.replace('&pound;', '')
          }

          var container = $('#map');
          var graph = new CircleGraph(container);
          graph.drawRegionalProjectsGraph(labels, regionsData, "global");

          $(window).resize(function() {
            if (container.width != graph.width) {
              graph.drawRegionalProjectsGraph(labels, regionsData, "global");
            }
          });
      </script>
    </div>
</div>

<div class="row">
  <div class="twelve columns">
  	<a class="button location-button" href="/global" style="width:100%;">View All Global Projects</a>
  </div>
</div>

<div class="row">
  <div class="twelve columns">
    <h2 class="section-group-title">All Global Recipients</h3>
  </div>
</div>
<div class="row">
  <div class="twelve columns">
    <% global_list.each do |region| %>
      <a href="/global/<%=region[:code]%>/projects"><%= region[:region] %></a> |
    <% end %>
  </div>
</div>