<%= erb :'partials/_location-tabs', :locals => { :active => "regional" } %>

<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
		<div class="app-region-stat app-region-stat--total">
			<div class="app-region-stat__data">
				<span class="govuk-caption-m app-region-stat__data--caption">Total regional budget <br><span class="app-body-s govuk-!-display-block"><%= current_financial_year %></span></span>                    
				<h1 class="govuk-heading-l app-region-stat__data--value"><%= Money.new(dfid_regional_projects_data ['totalBudget'].to_f/10000,"GBP").format(:no_cents_if_whole => true,:sign_before_symbol => false)%>m</h1>
			</div>
			<div class="app-region-stat__source govuk-caption-m govuk-!-font-size-17"><a  href="/regions" class="govuk-link">All region programmes</a></div>
		</div>
	</div>
	<% dfid_regional_projects_data['regionsDataJSON'].sort_by{ |k| k["region"]}.each do |region|%>
		<div class="govuk-grid-column-one-third">
				<div class="app-region-stat">
					<div class="app-region-stat__data">
						<span class="govuk-caption-m app-region-stat__data--caption"><%=region['region']%></span>                    
						<h1 class="govuk-heading-l app-region-stat__data--value"><%= Money.new(region['budget'].to_f/10000,"GBP").format(:no_cents_if_whole => true,:sign_before_symbol => false)%>m</h1>
					</div>
					<div class="app-region-stat__source govuk-caption-m govuk-!-font-size-17"><a href="/regions/<%=region['code']%>" class="govuk-link">Region programmes</a></div>
				</div>
		</div>
  	<%end%>
</div>