<!-- ---
published: "true"
title: Development Tracker
layout: landing

--- -->

<div class="row">
    <div class="ten columns">
        <h3 style="font-size: 1.8em; line-height: 2.5em;">Follow how the UK invests in developing countries</h3>
        <p class="meta">The Development Tracker uses open data on international development published by the UK Government and partners to show where the UK is investing in developing countries. The open data is taken from the <a href="http://iatistandard.org">International Aid Transparency Intiative</a> (IATI) open data standard.</p>
    </div>
    <div class="two columns" style="text-align:right;">
        <!--<img style="margin-top:20px;" src="/images/ukaid_logo.png" alt="UK aid from the British people"> -->
    </div>
</div>
<div class="row">
    <div class="twelve columns">
        <div style="text-align: left;margin-top: 10px;margin-bottom: 10px;font-size: 1.25em">The Department for International Development (DFID) leads the UK’s work to end extreme poverty. We are tackling the global challenges of our time including poverty and disease, mass migration, insecurity and conflict. Our work is building a safer, healthier, more prosperous world for people in developing countries and in the UK too.</div>
        <div style="margin-top: 0px" id="search-bar">
            <form id="mid-search-form" action="/search" method="GET">
                <div class="row">
                    <div class="three columns">
                        <label for="query">
                            <h3 style="line-height:2em;">Search Projects</h3>
                        </label>
                    </div>
                    <div class="nine columns">
                        <div class="row">
                            <div class="eight columns">
                                <div class="row">
                                    <div class="twelve columns">
                                        <input id="query" name="query" type="text" placeholder="e.g. location, sector, organisation or keyword" value="">
                                    </div>
                                    <div class="twelve columns" style="text-align: left; display: none">
                                        <input id="IncludeClosedProjects" style="margin-top: 10px; margin-bottom: 10px" type="checkbox"><label for="IncludeClosedProjects">Include Completed Projects</label>
                                        <input id="includeClosed" name="includeClosed" type="hidden" value="0">
                                    </div>
                                </div>
                            </div>
                            <div class="four columns">
                                <input type="submit" value="Search" class="button">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<nav>
    <div class="row" id="nav-entry">
        <div class="four columns col">
            <p>
                <a id="location-link" href="/location/country" class="by-location">
                    <span class="image-wrapper">
                        <img src="/images/by-location.png" alt="Aid by Location">
                    </span>
                    <span class="link-wrapper"><small>Explore aid by</small> Location</span>
                </a>
            </p>
        </div>
        <div class="four columns col">
            <p>
                <a id="sector-link" href="/sector" class="by-sector">
                    <span class="image-wrapper">
                        <img src="/images/by-sector.png" alt="Aid by Sector">
                    </span>
                    <span class="link-wrapper"><small>Explore aid by</small> Sector</span>
                </a>
            </p>
        </div>
        <div class="four columns col">
            <p>
                <a id="ogd-link" href="/department" class="by-departments">
                    <span class="image-wrapper">
                        <img src="/images/by-department.png" alt="Aid by Departments">
                    </span>
                    <span class="link-wrapper"><small>Explore aid by</small> Department</span>
                </a>
            </p>
        </div>
    </div>
</nav>


<div class="row">
    <div class="twelve columns">
        <h3 class="section-group-title">UK AID TOP 10s</h3>
    </div>
</div>

<div class="row top-5s">
    
    <div class="four columns" id="top-5-achiee">
        <%if !what_we_achieve.nil?  %>
        <div class="top-five-header">        
            <span class="top-five-title">Top 5 things we achieve</span> 
            <a class="more-info-link float-right move-up-4" id="moreinfolink3" target="3"><img src="/images/icon-information.png" alt="More information about the top 5 places we work"/></a>
            <aside id="moreinfo3" class="more-info">            
                    <div class="more-info-content">
                        Results achieved up to 2015/16 inclusive towards DFID commitments for the period 2011-16.
                    </div>
            </aside>
        </div>
        <ol>
          <% what_we_achieve.each do |entry| %>
          <li>
            <%= entry['title'] %>
            <em><span class="visually-hidden">Achieved</span><%= entry['value'] %></em>
          </li>
          <% end %>
        </ol>
        <%end%>
        <p>Results achieved (up to 2015/16 inclusive) from <a href="https://www.gov.uk/government/publications/dfid-annual-report-and-accounts-2015-16">DFID Annual Report 2015-16</a></p>
    </div>

    <div class="four columns" id="top-5-countries">
        <div class="top-five-header">        
            <span class="top-five-title">Top 10 places we work</span> 
            <a class="more-info-link float-right move-up-4" id="moreinfolink" target="1"><img src="/images/icon-information.png" alt="More information about the top 10 places we work"/></a>
            <aside id="moreinfo1" class="more-info">            
                    <div class="more-info-content">
                        The countries where the most money has been identified as being
                         spent solely in that country. 
                    </div>
            </aside>
        </div>
        <div id="top5Countries"></div>
        <!--<div id="demoTab">          
            <ul class="resp-tabs-list tabs">
                <li> aaa </li>
                <li> bbb </li>
                <li> ccc</li>
            </ul> 

            <div class="resp-tabs-container tabs">                                                        
                <div> xxx </div>
                <div> yyy </div>
                <div> zzz </div>
            </div>
        </div> -->
        <ol>
        <%# top_5_countries.each do |country| %>
          <!--<li>
             <a href="/countries/<%#= country[:code] %>" class="truncate" title="<%#= country[:name] %>"> <%#= country[:name] %> </a>
              <em><span class="visually-hidden">Budget</span><%#= format_million_stg country[:budget] %></em>
          </li>-->
        <%# end %>
        </ol>
        <p>Project budgets for each country [<%= financial_year_formatter_from_fulldate DateTime.now %>]</p>
    </div>

    <div class="four columns" id="top-5-sectors">
        <%#= what_we_do  %>
        <%if !what_we_do.nil?  %>
           <div class="top-five-header">        
                <span class="top-five-title">Top 10 things we do</span>
                <a class="more-info-link float-right move-up-4" id="moreinfolink2" target="2"><img src="/images/icon-information.png" alt="More Information about the top 10 things we do"/></a>
                <aside id="moreinfo2" class="more-info">            
                        <div class="more-info-content">
                            The sectors that projects have allocated their budget to, consistent with the Development Assistance Committee's (DAC) classifications. Amounts are calculated using the overall % allocated to the sector multiplied by this financial year's budget.
                         </div>
                </aside>
            </div> 
            <div id="top5Sectors"></div>
            <!--<ol>
                <%# what_we_do.each do |sector| %>
                    <li>
                       <a href="/sector/<%#=sector[:code]%>"><%#=sector[:name]%></a>
                       <em><span class="visually-hidden">Budget</span><%#= format_million_stg sector[:budget].to_f %></em>                       
                    </li>
                <%# end %>                
            </ol> -->        
        <%end%>
        <p>Project budgets for each sector [<%= financial_year_formatter_from_fulldate DateTime.now %>]</p>
    </div>

</div>

<script src="/javascripts/easyResponsiveTabs.js" type="text/javascript"></script>
<link type="text/css" rel="stylesheet" href="/stylesheets/easy-responsive-tabs.css" >
<script src="/javascripts/d3.v3.js" type="text/javascript"></script>
<link type="text/css" rel="stylesheet" href="/stylesheets/dc.min.css" >
<script type="text/javascript" src="/javascripts/crossfilter.min.js"></script>
<script type="text/javascript" src="/javascripts/dc.min.js"></script>
<script>
$(document).ready(function() {
    $('#demoTab').easyResponsiveTabs({
        type: 'vertical'
    });
    $('#demoTab').hide();
    //$('.tabs').easyResponsiveTabs({ tabidentify: 'vert' });
    var chart = dc.rowChart("#test2");
    d3.csv("/javascripts/morley.csv", function(error, experiments) {
      experiments.forEach(function(x) {
        x.Speed = +x.Speed;
      });
      var ndx                 = crossfilter(experiments),
          runDimension        = ndx.dimension(function(d) {return +d.Run;}),
          speedSumGroup       = runDimension.group().reduceSum(function(d) {return d.Speed * d.Run / 1000;});
      chart
        .width(350)
        .height(150)
        .x(d3.scale.linear().domain([6,20]))
        .elasticX(true)
        .dimension(runDimension)
        .group(speedSumGroup)
        .render();
    });
    <%
    tempCountries = JSON.parse(top_5_countries.to_json)
    tempCountries.each do |j|
        j.delete("code")
    end
    %>
    var top5Countries = <%=top_5_countries.to_json%>;
    var top5Sectors = <%=what_we_do.to_json%>;
    var chart2 = dc.rowChart("#top5Countries");


    var info = crossfilter(top5Countries);
    var dimentions = info.dimension(function(d){
        return d.name;
    });
    /*var parsedinfo = info.dimension(function(d){
        var country = d.name;
        return country;
    });*/
    //var dataGrouping = parsedinfo.group();
    //console.log(dataGrouping);
    //var grouping = dimentions.group();
    var grouping = dimentions.group().reduceSum(function(d) {return d.budget;});
    chart2
    .width(320)
    .height(420)
    .x(d3.scale.ordinal())
    .elasticX(true)
    .dimension(dimentions)
    .group(grouping)
    //.title(function(d) { return "Budget: £ " + d.value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") })
    .title(function(d){return "Budget: £" + d3.format(".2s")(d.value.toString())})
    .ordering(function(t){return t.budget;})
    .cap(10)
    .ordinalColors(['#D8DCBF'])
    .xAxis().tickFormat(function(d){return "£" + d3.format(".2s")(d)}).ticks(4);

    chart2.on('renderlet', function(chart) {
        chart.selectAll("text").on("click", function (d) {
            var result = $.grep(top5Countries,function(e){return e.name == d.key});
            window.location.href = "http://localhost:4567/countries/"+ result[0].code  + "/";
        });
    });

    chart2.render();

    //console.log(top5Countries);

    var chart3 = dc.rowChart("#top5Sectors");
    var info2 = crossfilter(top5Sectors);
    var dimentions2 = info2.dimension(function(d){
        return d.name;
    });
    var grouping2 = dimentions2.group().reduceSum(function(d) {return d.budget;});
    chart3
    .width(340)
    .height(420)
    .x(d3.scale.ordinal())
    .elasticX(true)
    .dimension(dimentions2)
    .group(grouping2)
    .title(function(d){return "Budget: £" + d3.format(".2s")(d.value.toString())})
    //.title(function(d) { return "Budget: £ " + d.value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") })
    .ordering(function(t){return t.budget;})
    .cap(10)
    .ordinalColors(['#D8DCBF'])
    .xAxis().tickFormat(function(d){return "£" + d3.format(".2s")(d)}).ticks(4);

    chart3.on('renderlet', function(chart) {
        chart.selectAll("text").on("click", function (d) {
            var result = $.grep(top5Sectors,function(e){return e.name == d.key});
            window.location.href = "http://localhost:4567/sector/"+ result[0].code  + "/";
        });
    });

    chart3.render();


});
  </script>
  <style>
  .ui-tabs-vertical { width: 55em; }
  .ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 12em; }
  .ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
  .ui-tabs-vertical .ui-tabs-nav li a { display:block; }
  .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; }
  .ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 40em;}
  </style>