<!--
published: "true"
title: Development Tracker
layout: cw_landing

-->
<div class="hero hero-notabs">    
<div class="row">
    <div class="eight columns">
        <h1>Follow how the UK invests in developing countries</h1>
        <p class="meta">UK government departments work closely together to deliver the <a href="https://www.gov.uk/government/publications/uk-aid-tackling-global-challenges-in-the-national-interest">UK Aid Strategy</a>, demonstrating global leadership in making development assistance more effective. Development Tracker uses the IATI open data standard, published by <a href="https://www.gov.uk">UK Government Departments</a> and its partners, to provide a meaningful way to understand how the UK Government supports international development and humanitarian aid projects.</p>
        <div class="summary"><p>UK government departments work closely together to deliver the <a href="https://www.gov.uk/government/publications/uk-aid-tackling-global-challenges-in-the-national-interest">UK Aid Strategy</a>, demonstrating global leadership in making development assistance more effective. Development Tracker uses the IATI open data standard, published by <a href="https://www.gov.uk">UK Government Departments</a> and its partners, to provide a meaningful way to understand how the UK Government supports international development and humanitarian aid projects.</p></div>
    </div>
    <div class="three columns" style="text-align:right; margin-top:10px;">
           <img src="/images/UK_AID_logo-w.png">
   </div>
</div>
    </div>

<nav>
    <div class="row" id="nav-entry">
        <div class="four columns col">
            <p>
                <a id="location-link" href="/location/country" class="by-location">
                    <span class="image-wrapper">
                        <img src="/images/by-location.png" alt="Aid by Location">
                    </span>
                    <span class="link-wrapper"><small>Explore DFID AID BY</small> Location</span>
                </a>
            </p>
        </div>
        <div class="four columns col">
            <p>
                <a id="sector-link" href="/sector" class="by-sector">
                    <span class="image-wrapper">
                        <img src="/images/by-sector.png" alt="Aid by Sector">
                    </span>
                    <span class="link-wrapper"><small>Explore DFID AID BY</small> Sector</span>
                </a>
            </p>
        </div>
        <div class="four columns col">
            <p>
                <a id="ogd-link" href="/department" class="by-departments">
                    <span class="image-wrapper">
                        <img src="/images/by-department.png" alt="Aid by Departments">
                    </span>
                    <span class="link-wrapper"><small>Explore aid by UK government</small> Department</span>
                </a>
            </p>
        </div>
    </div>
</nav>


<div class="row">
    <div class="twelve columns">
        <h3 class="section-group-title">Strategic objectives</h3>
    </div>
</div>

<div class="row top-5s">
    <div class="four columns" id="top-5-achiee">
        <%if !what_we_achieve.nil?  %>
        <div class="top-five-header">        
            <span class="top-five-title">Strategic Outcomes</span> 
            <a class="more-info-link float-right move-up-4" id="moreinfolink3" target="3"><img src="/images/icon-information.png" alt="More information about the top 5 places we work"/></a>
            <aside id="moreinfo3" class="more-info">            
                    <div class="more-info-content">
                        The Commonwealth Secretariat Strategic Plan  (2017/18 – 2020/21)  Strategic Outcomes.
                    </div>
            </aside>
        </div>
        <ol>
          <% what_we_achieve.each do |entry| %>
          <li>
            <%= entry['title'] %>
          </li>
          <% end %>
        </ol>
        <%end%>
        <p>Source: <a target="_BLANK" href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/478834/ODA_strategy_final_web_0905.pdf">UK Aid - Tackling Global Challenges in the National Interest</a></p>
    </div>
    <div class="four columns" id="top-5-countries">
        <div class="top-five-header">        
            <span class="top-five-title">Top 10 Places We Work</span> 
            <a class="more-info-link float-right move-up-4" id="moreinfolink" target="1"><img src="/images/icon-information.png" alt="More information about the top 10 places we work"/></a>
            <aside id="moreinfo1" class="more-info">            
                    <div class="more-info-content">
                        The countries where most money has been identified as being spent. 
                    </div>
            </aside>
        </div>
        <div id="top5Countries"></div>
        <ol>
        </ol>
        <p>Project budgets for each country [<%= financial_year_formatter_from_fulldate DateTime.now %>]</p>
    </div>

    <div class="four columns" id="top-5-sectors">
        <%#= what_we_do  %>
        <%if !what_we_do.nil?  %>
           <div class="top-five-header">        
                <span class="top-five-title">Top 10 Things We Do</span>
                <a class="more-info-link float-right move-up-4" id="moreinfolink2" target="2"><img src="/images/icon-information.png" alt="More Information about the top 10 things we do"/></a>
                <aside id="moreinfo2" class="more-info">            
                        <div class="more-info-content">
                            The sectors that projects have allocated their budget to, consistent with the Development Assistance Committee's classifications.
                         </div>
                </aside>
            </div> 
            <div id="top5Sectors"></div>     
        <%end%>
        <p>Project budgets for each sector [<%= financial_year_formatter_from_fulldate DateTime.now %>]</p>
    </div>

</div>
<script src="/javascripts/easyResponsiveTabs.js" type="text/javascript"></script>
<link type="text/css" rel="stylesheet" href="/stylesheets/easy-responsive-tabs.css" >
<script src="/javascripts/d3.v3.js" type="text/javascript"></script>
<link type="text/css" rel="stylesheet" href="/stylesheets/dc.min.css" >
<script type="text/javascript" src="/javascripts/crossfilter.min.js"></script>
<script type="text/javascript" src="/javascripts/dc.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    <%
    tempCountries = JSON.parse(top_5_countries.to_json)
    tempCountries.each do |j|
        j.delete("code")
    end
    %>
    window.top5Countries = <%=top_5_countries.to_json%>;
    window.top5Sectors = <%=what_we_do.to_json%>;
});    
</script>
<script type="text/javascript" src="/javascripts/indexTabs.js"></script>
<style>
  .ui-tabs-vertical { width: 55em; }
  .ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 12em; }
  .ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
  .ui-tabs-vertical .ui-tabs-nav li a { display:block; }
  .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; }
  .ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 40em;}
</style>