<!--
published: "true"
title: Development Tracker
layout: cw_landing

-->
<link type="text/css" rel="stylesheet" href="/stylesheets/jquery-ui-1.10.2.custom.min.css">



<!--<div class="row">
    <div class="twelve columns" id="whatsnew-banner">
      <p>
        <span>Following successful integration of new systems, the Foreign, Commonwealth and Development Office (FCDO) has resumed publication to DevTracker. Data published on 28th June 2023 includes information from the period of the pause (November 2022 to May 2023). FCDO will now return to monthly publishing of data, one month in arrears. Any remaining data from the pause period will be uploaded to DevTracker in the coming months.</span>
      </p>
      <br>
      <p>
        <span>Due to the security situation in Afghanistan, we have temporarily removed potentially sensitive information from DevTracker to ensure the safety of partners. As programmes are reviewed and republished, information will become available on DevTracker.</span>
      </p>
    </div>
</div>-->
<!--<div class="hero hero-notabs">    
<div class="row">
    <div class="nine columns">
        <h1>Making Development Assistance More Transparent</h1>
        <p class="meta">The UK Government is tackling major global challenges including poverty and disease, mass migration, insecurity and conflict, working to end extreme poverty. Our work is building a safer, healthier, more prosperous world for people in developing countries and in the UK too. This site shows in detail the international development programmes led by the Foreign, Commonwealth and Development Office (FCDO), other government departments and partners.</p>
        <div class="summary">
            <p>The UK Government is tackling major global challenges including poverty and disease, mass migration, insecurity and conflict, working to end extreme poverty. Our work is building a safer, healthier, more prosperous world for people in developing countries and in the UK too. This site shows in detail the international development programmes led by the Foreign, Commonwealth and Development Office (FCDO), other government departments and partners.</p>
        </div>
    </div>
    <div class="two columns" style="text-align:right; margin-top:10px;">
           <img src="/images/UK_AID_logo-w.png" alt="UK aid from the British people">
   </div>
</div>
    </div>-->

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <div class="govuk-notification-banner app-homepage-notifications" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
                <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">Important Notices</h2>
            </div>
            <div class="govuk-notification-banner__content">
                <details class="govuk-details govuk-!-margin-bottom-1" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                        Data publishing
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                        Following successful integration of new systems, the Foreign, Commonwealth and Development Office (FCDO) has resumed publication to DevTracker. Data published on 28th June 2023 includes information from the period of the pause (November 2022 to May 2023). FCDO will now return to monthly publishing of data, one month in arrears. Any remaining data from the pause period will be uploaded to DevTracker in the coming months.
                    </div>
                </details>
                <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                        Security situation in Afghanistan
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                        Due to the security situations in Afghanistan and Ukraine, we have temporarily removed potentially sensitive information from DevTracker to ensure the safety of partners. As programmes are reviewed and republished, information will become available on DevTracker.
                    </div>
                </details>            
            </div>
        </div>

        <div class="app-card app-card-search app-card-search-no-margin">
            <img src="/assets/images/homepage-search.svg" class="app-card-search__image" alt="Search programmes">
            <div class="govuk-form-group app-card-search__input">
                <h1 class="govuk-label-wrapper">
                    <label class="govuk-label govuk-label--m" for="search">
                        Search programmes
                    </label>
                </h1>
                <div id="event-name-hint" class="govuk-hint">
                    Enter location, sector, organisation or keyword
                </div>
                <form id="searchForm" action="/search_p" class="app-search-form" method="POST"  onsubmit="return validateSearch()">
                    <p id="searchQueryError" class="govuk-error-message app-display-none">
                        <span class="govuk-visually-hidden">Error:</span> Please enter a search query
                    </p>
                    <div class="app-search-form__textbox" id="searchQueryInput">
                        <input class="govuk-input query-input" id="query" name="query" type="text">
                        <button class="app-search-form__button" id="front-search-submit"
                            data-module="govuk-button"></button>
                    </div>
                    <div class="app-search-form__checkbox">
                        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="IncludeClosedProjects"
                                    name="IncludeClosedProjects" type="checkbox" value="hmrc">
                                <label class="govuk-label govuk-checkboxes__label" for="IncludeClosedProjects">
                                    Include closed programmes
                                </label>
                                <input id="includeClosed" name="includeClosed" type="hidden" value="0">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--<div class="app-headline-stats">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
            <div class="app-headline-stats__data">
                <span class="govuk-caption-m">Top location - Afghanistan</span>
                <h1 class="govuk-heading-xl app-headline-stats__data--value">£1,084m</h1>
            </div>
        </div>
        <div class="govuk-grid-column-one-third">
            <div class="app-headline-stats__data">
                <span class="govuk-caption-m">Current global spend</span>
                <h1 class="govuk-heading-xl app-headline-stats__data--value">£1.4bn</h1>
            </div>
        </div>
        <div class="govuk-grid-column-one-third">
            <div class="app-headline-stats__data">
                <span class="govuk-caption-m">Active projects</span>
                <h1 class="govuk-heading-xl app-headline-stats__data--value">10,394</h1>
            </div>
        </div>
    </div>
</div>-->

<h2 class="govuk-heading-l">UK Government priorities</h2>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <div class="app-card">
            <h4 class="govuk-heading-m">Top 10 things we do</h4>
            <p class="govuk-body-s app-card__intro app-card__intro--fixed-height">
                The sectors that Programmes have allocated their budget to, consistent with the Development Assistance Committee's classifications.
            </p>
            <%if !what_we_do.nil? %>
                <div class="app-progress-bar">
                    <% what_we_do.each do |item|%>
                        <label class="govuk-body-xs govuk-!-margin-bottom-0 app-progress-bar__label">
                            <%=item['name']%>
                        </label>
                        <div class="app-progress-bar__meter govuk-!-margin-bottom-2"
                            style="width:<%= item['budget']/whatWeDoTotal*100 %>%;"
                            onclick="location.href = '/sector/<%=item['code']%>';">
                            <span class="govuk-body-s app-progress-bar__meter--tooltip">Budget: £<%=
                                    format_round_m(item['budget'])%></span>
                        </div>
                    <%end%>
                </div>
            <%end%>
        </div>
    </div>
    <div class="govuk-grid-column-one-half">
        <div class="app-card">
            <h4 class="govuk-heading-m">Top 10 places we work</h4>
            <p class="govuk-body-s app-card__intro app-card__intro--fixed-height">The countries where most money has been identified as being spent.</p>
            <%if !top_5_countries.nil? %>
                <div class="app-progress-bar">
                    <% top_5_countries.each do |item|%>
                        <label class="govuk-body-xs govuk-!-margin-bottom-0 app-progress-bar__label">
                            <%=item['name']%>
                        </label>
                        <div class="app-progress-bar__meter govuk-!-margin-bottom-2"
                            style="width:<%= item['budget']/top5CountryTotal*100 %>%;"
                            onclick="location.href = '/countries/<%=item['code']%>';">
                            <span class="govuk-body-s app-progress-bar__meter--tooltip">Budget: £<%=
                                    format_round_m(item['budget'])%></span>
                        </div>
                    <%end%>
                </div>
            <%end%>
        </div>
    </div>
    <div class="govuk-grid-column-full">
        <div class="app-card app-top10-departments">
            <h4 class="govuk-heading-m">Top 10 departments</h4>
            <p class="govuk-body-s app-card__intro">UK ODA spend by government department </p>
            <% odas.each do |oda| %>
                <div class="app-top10-department">
                    <%if oda[0]=='PF' || oda[0]=='CSSF' %>
                        <span class="govuk-body-s app-top10-department__name">
                            <%= oda[1][0]["name"] %>
                        </span>
                    <%else%>
                        <span class="govuk-body-s app-top10-department__name">
                            <a title="<%= oda[1][0]['note']%>" href="department/<%= oda[0]%>" class="govuk-link">
                                <%= oda[1][0]["name"] %>
                            </a>
                        </span>
                    <%end%>
                    <% if oda[1][0]["value"]>= 0 %>
                        <span class="govuk-body-s app-top10-department__spend">&pound;<%=oda[1][0]["value"].to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,' ).reverse %>m</span>
                    <%else%>
                        <span class="govuk-body-s app-top10-department__spend">~</span>
                    <%end%>
                </div>
            <% end %>
        </div>
    </div>
</div>

<div style="display: none; height: 0px">Using OIPA URL: <%= oipa_api_url %></div>

<script type="text/javascript" src="/javascripts/crossfilter.min.js"></script>
<script type="text/javascript" src="/javascripts/dc.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
    <%
            tempCountries = JSON.parse(top_5_countries.to_json)
        tempCountries.each do | j |
            j.delete("code")
    end
            %>
            window.top5Countries = <%=top_5_countries.to_json %>;
        window.top5Sectors = <%=what_we_do.to_json %>;
    });    
</script>

<script>
    function validateSearch() {
        let searchQuery = document.forms["searchForm"]["query"].value;
        let searchErrorMessage = document.getElementById("searchQueryError");
        if (searchQuery == "") {
            searchErrorMessage.style.display = "block";
            document.forms["searchForm"]["query"].className = "govuk-input govuk-input--error";
            return false;
        }
    }
</script>
