<div class="page-wrapper">
    <div class="row" id="page-title">
        <div class="twelve columns">
            <img alt="UK aid from the British people" src="/images/ukaid_logo.png">
            <div>
                <div class="breadcrumb">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li>Search Results</li>
                    </ul>
                </div>
                <h1>
                    Search Results for: 
                    "<%= query %>"
                </h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="twelve columns">
            <div id="search-bar">
                <form id="mid-search-form" method="GET" action="/search">
                    <div class="row">
                        <div class="three columns">
                            <label for="query">
                                <h3>Search Projects</h3>
                            </label>
                        </div>
                        <div class="six columns">
                            <input type="text" value="<%= query %>" placeholder="e.g. location, sector, organisation or keyword" name="query" id="query">
                        </div>
                        <div class="three columns">
                            <input type="submit" class="button" value="Search">
                        </div>
                    </div>
                    <br>
                </form>
            </div>
        </div>
    </div>
    <link type="text/css" rel="stylesheet" href="/stylesheets/jquery-ui-1.10.2.custom.min.css" >
    <script src="/javascripts/jquery-ui-1.10.2.custom.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/javascripts/formatDate.js"></script>
    <link href="/stylesheets/simplePagination.css" rel="stylesheet" type="text/css">
    <% if project_count != 0 %>
        <div class="row project-results">
            <div class="nine columns push-three" id="search-results">
                <div class="row">
                    <div class="five columns">
                        <b>Sort results by:</b>
                        &nbsp;
                        Title
                        <span id="sortProjTitle" class="sort-proj-sectors" style="display:inline;">▲</span>
                        &nbsp;
                        Budget
                        <span id="sortProjBudg" class="sort-proj-sectors" style="display:inline;">▼</span>
                        <input type="hidden" id="sort_results_type" value=""  />
                    </div>
                    <div class="seven columns">
                        <div id="light-pagination"></div>
                    </div>
                </div>
                <!--<div class="modal">
                    <div>Loading Data <br /> Please Wait</div>
                </div> -->
                <div>
                    <% if !dfidCountryBudgets.empty? %>
                        <% dfidCountryBudgets.each do |results| %>
                            <div style="background-color: #F0F0F0;font-size: 1.1em;margin: 20px 0;padding: 15px;" class="suggested-country">
                                <p>Did you mean the <em>country <a href="/countries/<%= results[0] %>"><%= results[1][1] %></a></em>?</p>
                                <p></p>
                                <h3><em><%= results[1][1]%></em></h3>
                                Budget: <em><%= results[1][0]%></em>
                                <p></p>
                            </div>
                        <%end%>
                    <%end%>
                    <% if !dfidRegionBudgets.empty? %>
                        <% dfidRegionBudgets.each do |results| %>
                            <div style="background-color: #F0F0F0;font-size: 1.1em;margin: 20px 0;padding: 15px;" class="suggested-country">
                                <p>Did you mean the <em>region <a href="/regions/<%= results[0] %>"><%= results[1][1] %></a></em>?</p>
                                <p></p>
                                <h3><em><%= results[1][1]%></em></h3>
                                Budget: <em><%= results[1][0]%></em>
                                <p></p>
                            </div>
                        <%end%>
                    <%end%>
                </div>
                <div id="showResults">
                    <div class="ui-state-highlight ui-corner-all" style="margin-top: 20px; padding: 0.5em 0.7em 0em;"><p><span style="float: left; margin-right: .3em;" class="ui-icon ui-icon-info"></span>Default filter shows currently active projects. To see projects at other stages, use the status filters.</p></div>
                    <div>
                        Now showing projects <span name="afterFilteringAmount" style="display:inline;"></span>
                        <% if (project_count > 10) %><span id="numberofResults" value="" style="display:inline;">1 - 10</span> of <%= project_count%>
                        <% else %>
                        <span id="numberofResults" value="" style="display:inline;"><%= project_count%></span> of <%= project_count%>
                        <%end%>
                    </div>
                    <% projects.each do |project| %>
                    <div class="search-result">
                        <h3>    
                            <%unless project['iati_identifier'].nil? %>
                                <a href="/projects/<%= sanitize_input(project['iati_identifier'],"id") %>">
                                <%unless project['title']['narratives'].nil? %>
                                    <%unless project['title']['narratives'][0]['text'].nil? %>
                                        <%=project['title']['narratives'][0]['text']%>
                                    <%end%>
                                <%end%>
                                <small>[<%= project['iati_identifier']%>]</small>
                                </a>
                            <%end%>
                        </h3>
                        <%
                        #to handle different budget aggregations for DFID and non-DFID projects
                        if is_dfid_project(project['iati_identifier']) then
                            unless project['aggregations']['activity_children']['budget_value'].nil? %>
                        <span class="budget">Budget: <em> <%= Money.new(project['aggregations']['activity_children']['budget_value'].to_f*100,"GBP").format(:no_cents_if_whole => true,:sign_before_symbol => false) %></em></span>
                        <%end
                        else
                            unless project['aggregations']['activity_children']['budget_value'].nil? %>
                                <%if project['aggregations']['activity_children']['budget_value'].to_i != 0%>
                                    <span class="budget">Budget: <em> <%= Money.new(project['aggregations']['activity_children']['budget_value'].to_f*100, 
                                    if project['aggregations']['activity_children']['budget_currency'].nil?  
                                        if project['aggregations']['activity_children']['incoming_funds_currency'].nil?
                                            if project['aggregations']['activity_children']['expenditure_currency'].nil?
                                                'GBP'
                                            else
                                                project['aggregations']['activity_children']['expenditure_currency']
                                            end
                                        else
                                            project['aggregations']['activity_children']['incoming_funds_currency']
                                        end
                                    else project['aggregations']['activity_children']['budget_currency'] 
                                    end
                                        ).format(:no_cents_if_whole => true,:sign_before_symbol => false) %></em></span>
                                <%else%>
                                    <span class="budget">Budget: <em>Not Provided</em></span>
                                <%end%>
                            <%end
                        end%>
                        <%unless project['activity_status']['name'].nil? %>
                        <span>Status: <em><%=project['activity_status']['name'].to_s %></em></span>
                        <%end%>
                        <span>Reporting Org: <em>
                            <%unless project['reporting_organisations'].empty? %>
                                <%unless project['reporting_organisations'][0]['narratives'].empty? %>
                                    <%= project['reporting_organisations'][0]['narratives'][0]['text']%>
                                <%end%>
                            <%end%>
                        </em></span>
                        <p class="description">
                            <%unless project['descriptions'].empty? %>
                                <%unless project['descriptions'][0]['narratives'].empty? %>
                                    <%= project['descriptions'][0]['narratives'][0]['text'] %>
                                <%end%>
                            <%end%>
                        </p>
                    </div>
                    <% end %>
                </div>
            </div>
            <div class="three columns pull-nine">
                <div id="filter">
                    <h2 class="visually-hidden">Results Filter</h2>
                    <div id='status-filter' class="filter-header" name="status" style="background: none repeat scroll 0px 0px rgb(244, 244, 244); padding: 5px 0 5px 5px">
                        <div class="proj-filter-exp-collapse-sign proj-filter-exp-collapse-sign-down"></div>
                        <span class="proj-filter-exp-collapse-text" style="cursor:pointer">
                            <h3>Status</h3>
                        </span>
                        <div class="mContent">
                            <ul style="display: none; margin: 5px">
                                <% countryAllProjectFilters["activity_status"].each do |statuses| %>
                                    <%if statuses["code"] == '2' %>
                                        <li>
                                            <label for="activity_status_<%= statuses["code"] %>" title=" <%= statuses["name"] %>">
                                            <input id="activity_status_<%= statuses["code"] %>" type="checkbox" value="<%= statuses["code"] %>" class="activity_status" checked name="status"><%= statuses["name"] %>
                                            </label>
                                        </li>
                                    <%else%>
                                        <li>
                                            <label for="activity_status_<%= statuses["code"] %>" title=" <%= statuses["name"] %>">
                                            <input id="activity_status_<%= statuses["code"] %>" type="checkbox" value="<%= statuses["code"] %>" class="activity_status" name="status"><%= statuses["name"] %>
                                            </label>
                                        </li>
                                    <%end%>
                                <% end %>
                            </ul>
                        </div>
                        <input type="hidden" id="activity_status_states" value="2"  />
                    </div>
                    <div name="locations" style="display: none">
                        <h3>Locations</h3>
                        <div style="margin-left:20px;" name="countries">
                            <div class="proj-filter-exp-collapse-sign">+</div>
                            <span class="proj-filter-exp-collapse-text" style="cursor:pointer">
                                <h4>Countries</h4>
                            </span>
                        </div>
                        <div style="margin-left:20px;" name="regions">
                            <div class="proj-filter-exp-collapse-sign">+</div>
                            <span class="proj-filter-exp-collapse-text" style="cursor:pointer">
                                <h4>Regions</h4>
                            </span>
                        </div>
                    </div>
                    <%if highLevelSectorList.length > 0 %>
                        <div id='sector-filter' class="filter-header" name="sectors" style="background: none repeat scroll 0px 0px rgb(244, 244, 244);padding: 5px 0 5px 5px">
                            <div class="proj-filter-exp-collapse-sign proj-filter-exp-collapse-sign-down"></div>
                            <span class="proj-filter-exp-collapse-text" style="cursor:pointer">
                                <h3>Sectors</h3>
                            </span>
                            <div class="mContent">
                                <ul style="display: none; margin: 5px">
                                    <% highLevelSectorList.each do |highLevelSectorName| %>
                                        <li>
                                            <label for="activity_status_<%= highLevelSectorName[0] %>" title=" <%= highLevelSectorName[0] %>">
                                                <input id="activity_status_<%= highLevelSectorName[0] %>" type="checkbox" value="<%= highLevelSectorName[1][0] %>" class="sector" name="sector"><%= highLevelSectorName[0] %> <!--(<%#= highLevelSectorName[1][1] %>) -->
                                            </label>
                                        </li>
                                    <%end%>
                                </ul>
                            </div>
                            <input type="hidden" id="selected_sectors" value=""  />
                        </div>
                    <%else%>
                        <input type="hidden" id="selected_sectors" value=""  />
                    <%end%>

                    <div name="organizations" style="display: none">
                        <div class="proj-filter-exp-collapse-sign">+</div>
                        <span class="proj-filter-exp-collapse-text" style="cursor:pointer">
                            <h3>Organisations</h3>
                        </span>
                    </div>
                    <%if documentTypes.length > 0 %>
                        <div id='document-filter' class="filter-header" name="documents" style="background: none repeat scroll 0px 0px rgb(244, 244, 244); padding: 5px 0 5px 5px">
                            <div class="proj-filter-exp-collapse-sign proj-filter-exp-collapse-sign-down"></div>
                            <span class="proj-filter-exp-collapse-text" style="cursor:pointer">
                                <h3>Document Type</h3>
                            </span>
                            <div class="mContent">
                                <ul style="display: none; margin: 5px">
                                    <% documentTypes.each do |documentTypes| %>
                                    <li>
                                        <label for="document_type_<%= documentTypes["document_link_category"]["code"] %>" title=" <%= documentTypes["document_link_category"]["name"] %>">
                                        <input id="document_type_<%= documentTypes["document_link_category"]["code"] %>" type="checkbox" value="<%= documentTypes["document_link_category"]["code"] %>" class="document_type" name="document_type"><%= documentTypes["document_link_category"]["name"] %>
                                        </label>
                                    </li>
                                    <% end %>
                                </ul>
                            </div>
                            <input type="hidden" id="selected_document_type" value=""  />
                        </div>
                    <%else%>
                        <input type="hidden" id="selected_document_type" value=""  />
                    <%end%>
                    <!-- Implementing org filter -->
                    <%if implementingOrgTypes.length > 0 %>
                        <div id='organisation-filter' class="filter-header" name="implementingOrgs" style="background: none repeat scroll 0px 0px rgb(244, 244, 244);padding: 5px 0 5px 5px">
                            <div class="proj-filter-exp-collapse-sign proj-filter-exp-collapse-sign-down"></div>
                            <span class="proj-filter-exp-collapse-text" style="cursor:pointer">
                                <h3>Organisations</h3>
                            </span>
                            <div class="mContent">
                                <ul style="display: none; margin: 5px">
                                    <% implementingOrgTypes.each do |implementingOrgTypes| %>
                                        <%if implementingOrgTypes["participating_organisation_ref"] != 'na' %>
                                            <li>
                                                <label for="implementingOrg_type_<%= implementingOrgTypes["participating_organisation_ref"] %>" title=" <%= implementingOrgTypes["participating_organisation"] %>">
                                                    <input id="implementingOrg_type_<%= implementingOrgTypes["participating_organisation_ref"] %>" type="checkbox" value="<%= implementingOrgTypes["participating_organisation_ref"] %>" class="implementingOrg_type" name="implementingOrg_type"><%= implementingOrgTypes["participating_organisation"] %>
                                                </label>
                                            </li>
                                        <%end%>
                                    <% end %>
                                </ul>
                            </div>
                            <input type="hidden" id="selected_implementingOrg_type" value=""  />
                        </div>
                    <%else%>
                        <input type="hidden" id="selected_implementingOrg_type" value=""  />
                    <%end%>
                    <div id='budget-slider-filter' class="filter-header" style="margin-left: 5px;">
                        <div name="budget" style="margin-bottom: 10px">
                            <h3>Budget Value</h3>
                            <input type="hidden" id="budget_lower_bound" value="0"  />
                            <input type="hidden" id="budget_higher_bound" value=""  />
                        </div>
                        <span id="amount" style="border: 0; font-weight: bold"></span>
                        <div id="slider-vertical" style="height: 13px;width : 80%; margin-top: 10px"></div>
                    </div>
                    <div id='date-slider-filter' class="filter-header" style="margin-left: 5px;">
                        <div name="date" style="margin-top: 20px; margin-bottom: 10px;">
                            <h3>Start and end date</h3>
                            <input type="hidden" id="date_lower_bound" value=""  />
                            <input type="hidden" id="date_higher_bound" value=""  />
                        </div>
                        <span id="date-range" style="border: 0; font-weight: bold;"></span>
                        <div id="date-slider-vertical" style="height: 13px;width : 80%; margin-top: 10px;"></div>
                        <div style="text-align: left; color: grey; margin-top: 15px; display: none" id="date-slider-disclaimer"><span style="margin-top: 4px; float: left; text-align: center; width: 186px;">Note: Projects without a valid end date have been removed from the filtered results.</span></div>
                    </div>
                </div>
            </div>
            <script src="/javascripts/jquery.simplePagination.js" type="text/javascript"></script>
            <script type='text/javascript'>
                $(document).ready(function() {
                    window.oipaApiUrl = "<%= oipa_api_url %>";
                    //window.oipaApiUrl = window.baseUrl;
                    window.project_count = "<%= project_count %>";
                    window.searchQuery = "<%= query %>";
                    window.searchType = "F";
                    window.maxBudget = <%= budgetHigherBound %>;
                    window.StartDate = '<%= actualStartDate %>';
                    window.EndDate = '<%= plannedEndDate %>';
                    $('#mid-search-form').submit(function(){
                    $('.modal_free_text_search').show();
                    setTimeout(patience,10000);
                    setTimeout(patience_second_level,20000);
                    });
                    var patience = function(){
                        $('.modal_free_text_search div').html('<div>Still Searching... <br /> Please Wait<br /><br /><br /><br /><br /></div>');
                    };
                    var patience_second_level = function(){
                        $('.modal_free_text_search div').html('<div>The search is taking longer than expected.<br> Would you like to <span><a href="#" class="cancel_form_submission">cancel</a></span> the search or wait?<br/><br/><br/><br/><br/><br/><br/></div>');
                    };
                    $('.modal_free_text_search').click(function(){
                        window.stop();
                        $(this).hide();
                        $('.modal_free_text_search div').html('<div>Searching...<br /><br /><br /><br /></div>');
                    });
                });
            </script>
            <script src="/javascripts/searchPageFilters.js" type="text/javascript"></script>
        </div>
    <%else%>
        <div class="row">
            <div class="twelve columns">
                <div class="search-result nine columns push-three">
                    <p style="padding-top:.33em">Your search - <b><em><%= query %></em></b> - did not match any documents.  </p><p style="margin-top:1em">Suggestions:</p>
                    <ul style="margin:0 0 2em;margin-left:1.3em; line-height: 3em; list-style: none">
                        <li>Make sure all words are spelled correctly.</li>
                        <li>Try different keywords.</li>
                        <li>Try more general keywords.</li>
                        <li>Try fewer keywords.</li>
                    </ul>
                    <p>Search results only show currently active projects. To see projects at other stages, first carry out a more general search and then use the status filters on the search results page.</p>
                </div>
                <div class="three columns pull-nine"></div>
            </div>
        </div>
    <%end%>
</div>

