<!-- ---
title: Development Tracker
--- -->

<%= erb :'partials/_projects-header', :locals => { :project => project, :active => "summary"} %>

<div class="row">
    <div class="twelve columns summary">
        <table>
            <tr><td>Project ID</td><td><%= project['id'] %></td></tr>
            <tr><td>Currency</td><td><%= project['default_currency']['code'] %></td></tr>
            <tr><td>Title</td><td><%= project['title']['narratives'][0]['text'] %></td></tr>
            <tr><td>Title</td><td><%= project['title']['narratives'][0]['text'] %></td></tr>
        </table>
    </div>
</div>


