<% if(country['code'] == 'UA2') %>
    <% chartDataRepOrgsSplit2 = []%>
    <% chartDataFinYearsSplit2 = []%>
    <% chartDataColumnDataSplit2 = []%>
    <% countrySectorGraphData = []%>
<%end%>

<div class="govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="/">Home</a></li>
        <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="/location/country">Aid by Location</a></li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page"><%= country['name'] %></li>
    </ol>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l"><%= country['name'] %></h1>

        <% if(country['code'] != 'UA2') %>
            <%= erb :'partials/_countries-tabs', :locals => { :active => "summary", :country => country, :project_count => country['totalProjects'] } %>
        <%else%>
            <%= erb :'partials/_countries-tabs', :locals => { :active => "summary", :country => country, :project_count => 0 } %>
        <%end%>

        <% if(country['code'] == 'AF') %>
            <div class="govuk-inset-text">Due to the security situation in Afghanistan, we have temporarily removed potentially sensitive information (Programme title, description and channel of delivery) from Devtracker. As Programmes are reviewed and republished, the Programme and financial information will become available on DevTracker.</div>
        <%end%>
        
        <% if(country['code'] == 'UA2') %>
            <div class="govuk-inset-text">Given the current security situation in Ukraine, FCDO has temporarily removed Ukraine-related HMG ODA Programme information from Devtracker. This is a temporary measure to ensure the safety of partners.</div>
        <%end%>

        <%# <h2 class="govuk-heading-m">Summary</h2> %>
        <div class="govuk-inset-text govuk-!-margin-bottom-8">Further Reading: <a href="https://www.gov.uk/government/collections/country-and-regional-development-partnership-summaries" target="_BLANK">Country and regional development partnership summaries</a></div>
        <% if country['description'].length > 0%>
                <div class="app-country-description"><%#= markdown_to_html(country['description'])%></div>
                <%# <div class="govuk-inset-text govuk-!-margin-bottom-8">Note: Many country summaries were written prior to the creation of the Foreign, Commonwealth and Development Office, and are being incrementally refreshed.</div> %>
        <%else%>
            <%# <p class="govuk-body">
                Description Not Available.
            </p> %>
        <%end%>             

        <div id="countryMap" class="countryMap"></div>
        <input type="hidden" id="countryName" value="<%=country['name'] %>">
        <input type="hidden" id="countryCode" value="<%=country['code'] %>">
       
        <%= erb :'partials/_map_disclaimer'%>

        <div class="govuk-grid-row govuk-!-margin-bottom-6">
            <!--<div class="govuk-grid-column-full">
                <p class="govuk-!-font-size-16 govuk-!-font-weight-bold govuk-!-margin-top-3 govuk-!-margin-bottom-0">Download location data for <%= country['name'] %></p>
                <div class="app-download-data">
                    <a href="/downloadLocationDataCountriesCSV/<%=country['code']%>" class="govuk-link" target="_blank"><strong class="govuk-tag govuk-tag--blue">CSV</strong></a>
                </div>
            </div> -->
        </div>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <%if topSixResults.count > 0%>
            <h2 class="govuk-heading-m">Top projects in <%= country['name'] %></h2>
            <div class="app-top6-stats">
                <%topSixResults.each do |result|%>
                    <div class="app-top6-stat">
                        <div class="app-top6-stat__data">
                            <span class="govuk-caption-m app-top6-stat__data--caption"><%= result['title']%></span>                    
                            <h1 class="govuk-heading-xl app-top6-stat__data--value"><%= convert_numbers_to_human_readable_format(result['totals'])%></h1>
                        </div>
                        <div class="app-top6-stat__source govuk-caption-m govuk-!-font-size-14">2015 - 2020 <a target="_BLANK" href="https://www.gov.uk/government/publications/dfid-results-estimates-2015-to-2020" rel="external" class="govuk-link">Source Information</a></div>
                    </div>
                <%end%>
            </div>
        <%end%>

        <h2 class="govuk-heading-m govuk-!-margin-top-7">Sectors and budgets in <%= country['name'] %></h2>

        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Help with Sector and Budget Figures
                </span>
            </summary>
            <div class="govuk-details__text">
                Please note that although budgets are generally split by year, some departments publish budgets that span multiple years. These are represented in the first year of their allocation. Cross-government allocations such as Prosperity Fund and Conflict, Stability and Security Fund are known to duplicate budgets published by other departments, as well as using multi-year budgets.
            </div>
        </details>

        <div class="app-chart-row">
            <div class="app-chart-row__chart">
                <h3 class="govuk-heading-s app-chart-row__chart--heading">Sectors</h3>
                <p class="govuk-body-s app-chart-row__chart--intro">Sectors groups as a percentage of country budgets according to the Development Assistance Committee's classifications.</p>
                <div class="app-chart-row__chart--data">
                    <div id="sectorChart"></div>
                </div>
            </div>
        </div>

        <div class="app-chart-row">
            <div class="app-chart-row__chart">
                <h3 class="govuk-heading-s app-chart-row__chart--heading">Budget</h3>
                <p class="govuk-body-s app-chart-row__chart--intro govuk-!-margin-bottom-3">
                    Programme budget total by year approved at the Programme level to date.
                </p>

                <div class="govuk-!-margin-top-4">
                    <% tempTotalBudget = Money.new(country['countryBudget'].to_f.round(2)*100, country['countryBudgetCurrency']).format(:no_cents_if_whole => true,:sign_before_symbol => false) %>
                    <%tempOnlyValue = tempTotalBudget.gsub(/[^\d]/, '')%>
                    <span class="govuk-body-s app-chart-row__chart--intro govuk-!-margin-bottom-0">Current finacial year - <%= current_financial_year %></span>
                    <% if(country['code'] == 'UA2') %>
                        <span class="govuk-heading-l govuk-!--padding-top-1">£0</span>
                    <%else%>
                        <%# <span class="govuk-heading-l govuk-!-padding-top-1"><%= tempTotalBudget.gsub(/[0-9,]*/,"") %><%#=convert_numbers_to_human_readable_format(tempOnlyValue.to_f.round(2))%><%#</span> %>
                        <span class="govuk-heading-l govuk-!-padding-top-1">£<%= number_to_human(tempOnlyValue.to_f.round(2), :format => '%n%u', :precision => 4, :units => { :thousand => 'K', :million => 'M', :billion => 'B' })%></span>
                    <%end%>
                </div>                

                <div class="app-chart-row__chart--data">
                    <div id="budget-year-chart5" style="height: 300px; width: 100%;" class="budget_container"></div>
                </div>
            </div>
        </div>

        <% if(country['code'] != 'UA2') %>
            <div class="govuk-grid-row govuk-!-margin-top-3 govuk-!-margin-bottom-5">
                <div class="govuk-grid-column-full">
                    <p class="govuk-!-font-size-16 govuk-!-font-weight-bold govuk-!-margin-top-0 govuk-!-margin-bottom-0">Download IATI Activity Data for <%= country['name']%></p>
                    <div class="app-download-data">
                        <a href="<%= json_url_link%>json" class="govuk-link" target="_blank"><strong class="govuk-tag govuk-tag--blue">JSON</strong></a>
                    </div>
                </div>
            </div>
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        <%end%>

        <%if country['code'] != 'UA2'%>
            <h2 class="govuk-heading-m">Implementing Partners</h2>
            <div id="waiting-impl-orgs" class="twelve columns"><p style="text-align: center; padding: 15px;"><strong class="govuk-tag govuk-tag--yellow">Loading Implementing organisations list.. Please wait..</strong></p></div>
            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Partner(s)</th>
                  <th scope="col" class="govuk-table__header govuk-table__header--numeric">Active Programmes</th>
                </tr>
              </thead>
              <tbody id="implementing_org_table_body" class="govuk-table__body">
              </tbody>
            </table>
        <%end%>
    </div>
</div>

<!-- <script src="/javascripts/donut.js"></script>
 <script src="/javascripts/progress.js"></script>
 <script src="/javascripts/bar.js"></script> -->
 <script src="/javascripts/jquery.color.min.js"></script>
 <script src="/javascripts/jquery.animateNumber.min.js"></script>
<script>
    $(document).ready(function() {
        var colors = ['#28a197', '#f47738', '#1d70b8', '#4c2c92', '#f499be', '#85994b'];
        //Prepare the ajax calls
        $('#waiting-impl-orgs').slideDown('slow');
        var call1 = $.get('/country-implementing-org-list/<%= country['code'] %>/<%= activityCount%>')
        .done(function(response){
            if(Object.keys(response.output).length > 0){
                tempString = '';
                $.each(response.output, function(i, data){
                    tempString = tempString + '<tr class="govuk-table__row"><td scope="row" class="govuk-table__cell">' 
                    + data.orgName
                    + '</td><td class="govuk-table__cell govuk-table__cell--numeric">' + data.count + '</td></tr>';
                });
                $('#implementing_org_table_body').html(tempString);
                $('#implementing_org_container').slideDown('slow');
                $('#waiting-impl-orgs').slideUp('slow');
            }
            //console.log(response.output.length);
            // if(response)
            // if(response.projectType == 'country'){
            //     $('#countryOrRegion').html('<a class="govuk-breadcrumbs__link" href="'+response.output.breadcrumbUrl+'/">'+response.output.breadcrumbUrl+'</a>');
            // }
        });

        var sectorGraphDataVar = $.get('/country-sector-graph-data/<%= country['code'] %>')
        .done(function(response){
            if(response.output.length > 0){
                var graphData = response.output[0];
                var groups = [response.output[1]];
                var fColors = {};
                for(i = 0; i<graphData.length; i++){
                    fColors[graphData[i][0]] = colors[i];
                };

                var stacked = c3.generate({
                    bindto: '#sectorChart',
                    data: {
                        columns: graphData,
                        type: 'bar',
                        labels: false,
                        colors: fColors,
                        groups: groups,
                        order: 'asc'
                    },
                    tooltop: {
                        grouped: false
                    },
                    padding: {left: 10, right: 10},
                    axis: {
                        rotated: true,
                        x: {
                            show: false
                        },
                        y: {
                            label: '%',
                            min: 0,
                            max: 100,
                            padding: {top: 0, bottom: 0}
                        }
                    },
                    bar: {
                        width: {
                            ratio: .6
                        }
                    },
                    
                    tooltip: {
                        format: {
                            title: function (x) { return 'Sector %' }
                        }
                    }
                });
                $('#sect-container').slideDown('slow');
            }
        });

        var budgetBarGraphData = $.get('/country-budget-bar-graph-data/<%= country['code'] %>')
        .done(function(response){
            if(response.output.length > 0){
                var yTicks = [];
                var chartv5 = c3.generate({
                    bindto: '#budget-year-chart5',
                data: {
                    columns: response.output[2],
                    type: 'bar',
                    groups: [response.output[0]],
                },
                color: {
                    pattern: colors
                },
                tooltip: {
                        format: {
                            value: function(value){
                                return "£" + value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                            }
                        }
                    },
                axis: { 
                    x: {
                    type: 'category',
                    categories: response.output[1],
                },
                y: {
                            tick: {
                                format: function(d){ 
                                    yTicks.push(d3.format(".2s")(d)); 
                                    return "£" + d3.format(".2s")(d);
                                } /*This code is used for converting the raw data into data with scientific prefix like 'M' for millions.*/
                            },
                        }
                    },
                });
                /*This code is for generating the grid line values for the bar chart*/
                var tempString = [];
                yTicks.pop();
                for(i = 0; i < 5; i++) {
                    tempString[i] = yTicks.pop().replace("M","") + '000000';
                }
                /*Cleaned the ticks array that stored pointers for the grid line generating locations*/
                yTicks = [];
                /* Generating the grid lines */
                for(i=0;i<tempString.length;i++){
                    yTicks = [];
                }
            }
        });
        //End the ajax calls
        $('#populationCount').animateNumber(
        {
          number: <%if country['population'] != "" then%><%= (country['population']/1000000.0).round(2)%><%else%>0<%end%>
        },
        2000
      )
        $('#livingBelowCount').animateNumber(
        {
          number: <%if country['belowPovertyLine'] != "" then%><%= country['belowPovertyLine'].to_f.round(2)%><%else%>0<%end%>
        },
        2000
      )
        $('#gdpGrowthRateCount').animateNumber(
        {
          number: <%if country['gdpGrowthRate'] != "" then%><%= country['gdpGrowthRate'].to_f.round(2)%><%else%>0<%end%>
        },
        2000
      )
    });
    
</script>
<script type="text/javascript">
    var mapType = "country";
    window.countryCode = "<%= country['code']%>";
    window.countryName = "<%= country['name']%>";
    window.geometryType = "<%= countryGeoJsonData['type'] %>";
    window.coordinates = <%= countryGeoJsonData['coordinates'].to_json %>
    window.mainMarkers = <%= mapMarkers.to_json%>;
</script>
<!-- New leaflet libraries -->
<link rel="stylesheet" href="/javascripts/leaflet/leaflet_new.css"/>
<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="/javascripts/leaflet/leaflet_new.js"></script>
<script src="/javascripts/leaflet/countryBounds.js" type="text/javascript"></script>
<link rel="stylesheet" href="/javascripts/leaflet/MarkerCluster_new.css">
<link rel="stylesheet" href="/javascripts/leaflet/MarkerCluster.Default_new.css">
<script src="/javascripts/leaflet/leaflet.markercluster_new.js"></script>
<script src="/javascripts/countrypagemap_new.js" type="text/javascript"></script>