<% if(country['code'] == 'UA') %>
    <% chartDataRepOrgsSplit2 = []%>
    <% chartDataFinYearsSplit2 = []%>
    <% chartDataColumnDataSplit2 = []%>
    <% countrySectorGraphData = []%>
<%end%>
<div class="hero"><div id="page-title" class="row">
    <div class="twelve columns">
        <img src="/images/cw_ukaid_logo.png" alt="UK aid from the British people">
        <div>
            <div class="govuk-breadcrumbs">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="/">Home</a></li>
                    <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="/location/country">Aid by Location</a></li>
                    <li class="govuk-breadcrumbs__list-item" aria-current="page"><%= country['name'] %></li>
                </ol>
            </div>
            <h1>
                <%= country['name'] %>
            </h1>
        </div>
    </div>
</div>
<% if(country['code'] != 'UA') %>
    <%= erb :'partials/_countries-tabs', :locals => { :active => "summary", :country => country, :project_count => country['totalProjects'] } %>
<%else%>
    <%= erb :'partials/_countries-tabs', :locals => { :active => "summary", :country => country, :project_count => 0 } %>
<%end%>
</div>
<div class="row">
    <% if(country['code'] == 'AF') %>
        <div class="twelve columns">
            <div class="govuk-inset-text" style="font-size: 14px;">Due to the security situation in Afghanistan, we have temporarily removed potentially sensitive information (Programme title, description and channel of delivery) from Devtracker. As Programmes are reviewed and republished, the Programme and financial information will become available on DevTracker.</div>
        </div>
    <%end%>
    <% if(country['code'] == 'UA') %>
        <div class="twelve columns">
            <div class="govuk-inset-text" style="font-size: 14px;">Given the current security situation in Ukraine, FCDO has temporarily removed Ukraine-related HMG ODA Programme information from Devtracker. This is a temporary measure to ensure the safety of partners.</div>
        </div>
    <%end%>
    <div class="eight columns summary">
        <h2 class="visually-hidden">Summary</h2>
        <% if country['description'].length > 0%>
            <div class="country-description" style="height: 235px; overflow: hidden; text-align: justify">
                <%= markdown_to_html(country['description'])%>
                <p style="font-style: italic;">Note: Many country summaries were written prior to the creation of the Foreign, Commonwealth and Development Office, and are being incrementally refreshed.</p>
                <%if country['description'].length > 500%>
                    <div class="description-overlay" style="position: absolute;left: 0px;bottom: 0px;width: 100%;text-align: center;background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, rgba(255, 255, 255, 0)),color-stop(1, rgb(255, 255, 255)));padding: 80px 0 0 0;color: blue;text-decoration: blink;font-weight: bold;background-image: -moz-linear-gradient(top, transparent, white)">
                        <div class="description-expander" style="text-align: center; color: #2e3191; cursor: pointer">Read more about <%= country['name'] %></div>
                    </div>
                <%else%>
                    <div class="description-overlay" style="display: none">
                        <div class="description-expander">Read more about <%= country['name'] %></div>
                    </div>
                <%end%>
                <div class="description-collapse" style="text-align: center; color: #2e3191; cursor: pointer; display: none; position: absolute; width: 100%">Read less</div>
            </div>
        <%else%>
            <div class="country-description" style="height: 235px; overflow: hidden; text-align: center; margin-top: 112px;">
                Description Not Available.
            </div>
        <%end%>
        <% if country['description'].length > 0%>
            <script type="text/javascript">
                $(document).ready(function() {
                    var curHeight = $('.country-description').height();
                    $('.country-description').css('height', 'auto');
                    var autoHeight = $('.country-description').height();
                    $('.country-description').height(curHeight);
                    $('.description-expander').click(function(){
                        $('.country-description').animate({
                            height: autoHeight
                        },1000,function(){
                            $('.description-collapse').fadeIn();
                        });
                        $(this).parent().fadeOut('slow');
                    });

                    $('.description-collapse').click(function(){
                        $(this).hide();
                        $('.description-overlay').fadeIn('slow');
                        $('.country-description').animate({
                            height: curHeight
                        },1000);
                    });
                });
            </script>
        <%end%>
    </div>
    <div class="four columns country-flag">
        <img alt="Country flag" src="/images/flags_l/<%= country['code'] %>.png">
    </div>
</div>
<div style="margin: 15px auto" class="row">
    <div class="four columns"></div>
    <div class="four columns"><hr></div>
    <div class="four columns"></div>
</div>
<div style="margin: 15px auto" class="row">
    <div class="four columns"></div>
    <div class="four columns"></div>
    <div class="four columns"></div>
</div>
<!-- Map position -->
<div class="row">
    <div class="twelve columns" role="presentation">
        <div id="countryMap" class="countryMap">
        </div>

        <input type="hidden" id="countryName" value="<%=country['name'] %>">
        <input type="hidden" id="countryCode" value="<%=country['code'] %>">
       
        <div id="countryMapDisclaimer" class="disclaimer grey">
            <p><strong>Disclaimer</strong>: Country borders do not necessarily reflect the UK Government's official position.</p>
        </div>
    </div>
    <span style="float: right;margin-right: 14px;margin-top: 8px;"> Download location data: <a href="/downloadLocationDataCountriesCSV/<%=country['code']%>" class="api-link button">CSV</a></span>
</div>
<div class="stuffs">
<!-- Top six results -->
<div id="topSixResults" style="margin-top: 25px" class="row">
    <%if topSixResults.count > 0%>
        <%i = 1%> 
        <%tempCount = topSixResults.count%>
        <%topSixResults.each do |result|%>
            <%if i < 4%>
                <%if topSixResults.count < 4%>
                    <%
                    case tempCount
                    when 1 %>
                        <div class="twelve columns">
                            <div class="mi-style" style="text-align: center">
                                <span></span>
                                <h3><%= convert_numbers_to_human_readable_format(result['totals'])%></h3>
                                <p><%= result['title']%></p>
                                <p>2015 - 2020, <a target="_BLANK" href="https://www.gov.uk/government/publications/dfid-results-estimates-2015-to-2020" rel="external">Source</a></p>
                            </div>
                        </div>
                    <%when 2 %>
                        <div class="six columns">
                            <div class="mi-style" style="text-align: center">
                                <span></span>
                                <h3><%= convert_numbers_to_human_readable_format(result['totals'])%></h3>
                                <p><%= result['title']%></p>
                                <p>2015 - 2020, <a target="_BLANK" href="https://www.gov.uk/government/publications/dfid-results-estimates-2015-to-2020" rel="external">Source</a></p>
                            </div>
                        </div>
                    <%
                    when 3 %>
                        <div class="four columns">
                            <div class="mi-style" style="text-align: center">
                                <span></span>
                                <h3><%= convert_numbers_to_human_readable_format(result['totals'])%></h3>
                                <p><%= result['title']%></p>
                                <p>2015 - 2020, <a target="_BLANK" href="https://www.gov.uk/government/publications/dfid-results-estimates-2015-to-2020" rel="external">Source</a></p>
                            </div>
                        </div>
                    <%end%>
                <%else%>
                    <div class="four columns">
                        <div class="mi-style" style="text-align: center">
                            <span></span>
                            <h3><%= convert_numbers_to_human_readable_format(result['totals'])%></h3>
                            <p><%= result['title']%></p>
                            <p>2015 - 2020, <a target="_BLANK" href="https://www.gov.uk/government/publications/dfid-results-estimates-2015-to-2020" rel="external">Source</a></p>
                        </div>
                    </div>
                <%end%>
            <%else%>
                <%
                case tempCount
                when 4 %>
                    <div class="twelve columns">
                        <div class="mi-style" style="text-align: center">
                            <span></span>
                            <h3><%= convert_numbers_to_human_readable_format(result['totals'])%></h3>
                            <p><%= result['title']%></p>
                            <p>2015 - 2020, <a target="_BLANK" href="https://www.gov.uk/government/publications/dfid-results-estimates-2015-to-2020" rel="external">Source</a></p>
                        </div>
                    </div>
                <%when 5 %>
                    <div class="six columns">
                        <div class="mi-style" style="text-align: center">
                            <span></span>
                            <h3><%= convert_numbers_to_human_readable_format(result['totals'])%></h3>
                            <p><%= result['title']%></p>
                            <p>2015 - 2020, <a target="_BLANK" href="https://www.gov.uk/government/publications/dfid-results-estimates-2015-to-2020" rel="external">Source</a></p>
                        </div>
                    </div>
                <%
                when 6 %>
                    <div class="four columns">
                        <div class="mi-style" style="text-align: center">
                            <span></span>
                            <h3><%= convert_numbers_to_human_readable_format(result['totals'])%></h3>
                            <p><%= result['title']%></p>
                            <p>2015 - 2020, <a target="_BLANK" href="https://www.gov.uk/government/publications/dfid-results-estimates-2015-to-2020" rel="external">Source</a></p>
                        </div>
                    </div>
                <%end%>
            <%end%>
            <%i = i+1%>
        <%end%>
    <%end%>
</div>
    </div>
<div class="row">
    <div class="six columns">
        <div class="country-info-container">  
            <div class="more-info-container">  
                <span class="more-info-title">Sectors</span> 
            </div>
            <p>Sectors groups as a percentage of country budgets according to the Development Assistance Committee's classifications.</p>
        </div>
        <div class="row">
            <div id="sect-container" style="display: none" class="twelve columns">
                <div id="sectorChart"></div>
            </div>
        </div>
    </div>
    <div class="six columns">
         <div class="country-info-container">  
            <div class="more-info-container">  
                <span class="more-info-title">Budget</span> 
                <a class="more-info-link more-info-link-spacer" id="moreinfolink3" target="3"><img src="/images/icon-information.png" alt="More information about Programme status" class="more-info-link-middle"/></a>
                <aside id="moreinfo3" class="more-info">            
                        <div class="more-info-content">
                            Please note that although budgets are generally split by year, some departments publish budgets that span multiple years. These are represented in the first year of their allocation.
                        </div>
                </aside>
            </div>
            <p>Programme budget total by year approved at the Programme level to date.</p>
         </div>
         <div id="budget-year-chart5" style="height: 300px; width: 100%;" class="row"></div>
         <!--<div style="text-align: center">Budgets approved at a project level to date. This may be different from the overall operational plan budget for <%#= country[:name] %>.</div> -->
         <div class="row">
            <div style="text-align: center" class="six columns">
                <% tempTotalBudget = Money.new(country['countryBudget'].to_f.round(0)*100, country['countryBudgetCurrency']).format(:no_cents_if_whole => true,:sign_before_symbol => false) %>
                <%tempOnlyValue = tempTotalBudget.gsub(/[^\d]/, '')%>
                <% if(country['code'] == 'UA') %>
                    <span style="font-size: 1.5em">£0</span>
                <%else%>
                    <span style="font-size: 1.5em"><%= tempTotalBudget.gsub(/[0-9,]*/,"") %><%=convert_numbers_to_human_readable_format(tempOnlyValue.to_f.round(0))%></span>
                <%end%>
                <p><strong><%= current_financial_year %></strong></p>
            </div>
            <div style="text-align: center" class="six columns">
                <!-- <span style="font-size: 1.5em"><%#= country[:projectBudgetPercentToDfidBudget] %>%</span> -->
                <!-- <p><strong>FCDO Total</strong></p> -->
            </div>
         </div>
    </div>
    <div class="twelve columnns">
        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Help with Sector and Budget Figures
                </span>
            </summary>
            <div class="govuk-details__text">
                Please note that although budgets are generally split by year, some departments publish budgets that span multiple years. These are represented in the first year of their allocation. Cross-government allocations such as Prosperity Fund and Conflict, Stability and Security Fund are known to duplicate budgets published by other departments, as well as using multi-year budgets.
            </div>
        </details>
    </div>
</div>

<div class="row">
    <div class="twelve columns download-link">
        <% if(country['code'] != 'UA') %>
            <p>Download IATI Activity Data for <%= country['name']%>: <a href="https://iati.fcdo.gov.uk/iati_files/Country/FCDO-<%= country['name'].gsub(/ /,'-').gsub(/[()]/,"").gsub(/,/,"")%>-<%= country['code']%>.xml" class="api-link button" target="_blank">XML</a> <a href="https://devtracker.fcdo.gov.uk/api/activities/?format=json&recipient_country=<%= country['code']%>&reporting_organisation_identifier=<%= settings.goverment_department_ids%>&page_size=<%= activityCount %>" class="api-link button" target="_blank">JSON</a></p>
        <%end%>
    </div>
</div>
<%if country['code'] != 'UA'%>
    <div class="row">
        <div id="waiting-impl-orgs" class="twelve columns"><p style="text-align: center; padding: 15px;"><strong class="govuk-tag govuk-tag--yellow">Loading Implementing organisations list.. Please wait..</strong></p></div>
        <div class="twelve columns">
            <table class="govuk-table">
              <caption class="govuk-table__caption">Implementing Partners</caption>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Partner(s)</th>
                  <th scope="col" class="govuk-table__header">Active Programmes</th>
                </tr>
              </thead>
              <tbody id="implementing_org_table_body" class="govuk-table__body">
                
              </tbody>
            </table>
        </div>
    </div>
<%end%>

<!-- <script src="/javascripts/donut.js"></script>
 <script src="/javascripts/progress.js"></script>
 <script src="/javascripts/bar.js"></script> -->
 <script src="/javascripts/jquery.color.min.js"></script>
 <script src="/javascripts/jquery.animateNumber.min.js"></script>
<script>
    $(document).ready(function() {
        var colors = ['#28a197', '#f47738', '#1d70b8', '#4c2c92', '#f499be', '#85994b'];
        //Prepare the ajax calls
        $('#waiting-impl-orgs').slideDown('slow');
        var call1 = $.get('/country-implementing-org-list/<%= country['code'] %>/<%= activityCount%>')
        .done(function(response){
            if(Object.keys(response.output).length > 0){
                tempString = '';
                $.each(response.output, function(i, data){
                    tempString = tempString + '<tr class="govuk-table__row"><th scope="row" class="govuk-table__header">' 
                    + data.orgName 
                    + '</th><td class="govuk-table__cell">' + data.count + '</td></tr>';
                });
                $('#implementing_org_table_body').html(tempString);
                $('#implementing_org_container').slideDown('slow');
                $('#waiting-impl-orgs').slideUp('slow');
            }
            //console.log(response.output.length);
            // if(response)
            // if(response.projectType == 'country'){
            //     $('#countryOrRegion').html('<a class="govuk-breadcrumbs__link" href="'+response.output.breadcrumbUrl+'/">'+response.output.breadcrumbUrl+'</a>');
            // }
        });

        var sectorGraphDataVar = $.get('/country-sector-graph-data/<%= country['code'] %>')
        .done(function(response){
            if(response.output.length > 0){
                var graphData = response.output[0];
                var groups = [response.output[1]];
                var fColors = {};
                for(i = 0; i<graphData.length; i++){
                    fColors[graphData[i][0]] = colors[i];
                };

                var stacked = c3.generate({
                    bindto: '#sectorChart',
                    data: {
                        columns: graphData,
                        type: 'bar',
                        labels: false,
                        colors: fColors,
                        groups: groups,
                        order: 'asc'
                    },
                    tooltop: {
                        grouped: false
                    },
                    padding: {left: 10, right: 10},
                    axis: {
                        rotated: true,
                        x: {
                            show: false
                        },
                        y: {
                            label: '%',
                            min: 0,
                            max: 100,
                            padding: {top: 0, bottom: 0}
                        }
                    },
                    bar: {
                        width: {
                            ratio: .6
                        }
                    },
                    
                    tooltip: {
                        format: {
                            title: function (x) { return 'Sector %' }
                        }
                    }
                });
                $('#sect-container').slideDown('slow');
            }
        });

        var budgetBarGraphData = $.get('/country-budget-bar-graph-data/<%= country['code'] %>')
        .done(function(response){
            if(response.output.length > 0){
                var yTicks = [];
                var chartv5 = c3.generate({
                    bindto: '#budget-year-chart5',
                data: {
                    columns: response.output[2],
                    type: 'bar',
                    groups: [response.output[0]],
                },
                color: {
                    pattern: colors
                },
                tooltip: {
                        format: {
                            value: function(value){
                                return "£" + value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                            }
                        }
                    },
                axis: { 
                    x: {
                    type: 'category',
                    categories: response.output[1],
                },
                y: {
                            tick: {
                                format: function(d){ 
                                    yTicks.push(d3.format(".2s")(d)); 
                                    return "£" + d3.format(".2s")(d);
                                } /*This code is used for converting the raw data into data with scientific prefix like 'M' for millions.*/
                            },
                        }
                    },
                });
                /*This code is for generating the grid line values for the bar chart*/
                var tempString = [];
                yTicks.pop();
                for(i = 0; i < 5; i++) {
                    tempString[i] = yTicks.pop().replace("M","") + '000000';
                }
                /*Cleaned the ticks array that stored pointers for the grid line generating locations*/
                yTicks = [];
                /* Generating the grid lines */
                for(i=0;i<tempString.length;i++){
                    yTicks = [];
                }
            }
        });
        //End the ajax calls
        $('#populationCount').animateNumber(
        {
          number: <%if country['population'] != "" then%><%= (country['population']/1000000.0).round(2)%><%else%>0<%end%>
        },
        2000
      )
        $('#livingBelowCount').animateNumber(
        {
          number: <%if country['belowPovertyLine'] != "" then%><%= country['belowPovertyLine'].to_f.round(2)%><%else%>0<%end%>
        },
        2000
      )
        $('#gdpGrowthRateCount').animateNumber(
        {
          number: <%if country['gdpGrowthRate'] != "" then%><%= country['gdpGrowthRate'].to_f.round(2)%><%else%>0<%end%>
        },
        2000
      )
    });
    
</script>
<script type="text/javascript">
    var mapType = "country";
    window.countryCode = "<%= country['code']%>";
    window.countryName = "<%= country['name']%>";
    window.geometryType = "<%= countryGeoJsonData['type'] %>";
    window.coordinates = <%= countryGeoJsonData['coordinates'].to_json %>
    window.mainMarkers = <%= mapMarkers.to_json%>;
</script>
<!-- New leaflet libraries -->
<link rel="stylesheet" href="/javascripts/leaflet/leaflet_new.css"/>
<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="/javascripts/leaflet/leaflet_new.js"></script>
<script src="/javascripts/leaflet/countryBounds.js" type="text/javascript"></script>
<link rel="stylesheet" href="/javascripts/leaflet/MarkerCluster_new.css">
<link rel="stylesheet" href="/javascripts/leaflet/MarkerCluster.Default_new.css">
<script src="/javascripts/leaflet/leaflet.markercluster_new.js"></script>
<script src="/javascripts/countrypagemap_new.js" type="text/javascript"></script>