<div class="hero">
    <div id="page-title" class="row">
        <div class="twelve columns">
            <img src="/images/cw_ukaid_logo.png" alt="UK aid from the British people">
            <div>
                <div class="breadcrumb">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/location/country/">Aid by Location</a></li>
                        <li><%= country[:name] %></li>
                    </ul>
                </div>
                <h1>
                    <%= country[:name] %>
                </h1>
            </div>
        </div>
    </div>

<%= erb :'partials/_countries-tabs', :locals => { :active => "stats", :country => country, :project_count => country[:totalProjects] } %>
</div>
<div class="row" style="margin-top: 20px">
    <div class="twelve columns">
        <h3 class="section-group-title">Active Projects</h3>
        <table class="transactions-table oda-table" style="width:100%">
          <tbody>
            <thead>
              <th></th>
              <th></th>
            </thead>
            <% statsData[:activeProjectDeptWise].each do |activeProject| %>
              <tr>
                <td><%= activeProject["dept"] %></td>
                <td style="border-left: 1px solid rgb(218, 218, 218)"><%= activeProject["count"] %></td>
              </tr>
            <% end %>
            <tr>
                <td style="text-align:right;">Total </td>
                <td style="border-left: 1px solid rgb(218, 218, 218)"><%=statsData[:totalActiveProjectCount]%></td>
            </tr>
          </tbody>
        </table>
    </div>
</div>

<div class="row" style="margin-top: 20px">
    <div class="twelve columns">
        <h3 class="section-group-title">Closed Projects</h3>
        <table class="transactions-table oda-table" style="width:100%">
          <tbody>
            <thead>
              <th></th>
              <th></th>
            </thead>
            <% statsData[:closeProjectDeptWise].each do |closeProject| %>
              <tr>
                <td><%= closeProject["dept"] %></td>
                <td style="border-left: 1px solid rgb(218, 218, 218)"><%= closeProject["count"] %></td>
              </tr>
            <% end %>
            <tr>
                <td style="text-align:right;">Total </td>
                <td style="border-left: 1px solid rgb(218, 218, 218)"><%=statsData[:totalClosedProjectCount]%></td>
            </tr>
          </tbody>
        </table>
    </div>
</div>
<div class="row" style="margin-top: 20px">
  <div class="twelve columns">
        <h3 class="section-group-title">Total Sectors (active)</h3>
        <table class="transactions-table oda-table" style="width:100%">
          <tbody>
            <thead>
              <th></th>
              <th></th>
            </thead>
            <% statsData[:sumBudgetActiveSector].each do |sector| %>
              <tr>
                <td><%= sector["higherLevelSectorName"] %></td>
                <td style="border-left: 1px solid rgb(218, 218, 218)"><%= convert_numbers_to_human_readable_format(sector['budget'])%></td>
              </tr>
            <% end %>
            <tr>
                <td style="text-align:right;">Total </td>
                <td style="border-left: 1px solid rgb(218, 218, 218)"><%= convert_numbers_to_human_readable_format(statsData[:totalSectorBudget])%></td>
            </tr>
          </tbody>
        </table>
    </div>
</div>
<div class="row" style="margin-top: 20px">
  <div class="twelve columns">
        <h3 class="section-group-title">Total Sectors Count</h3>
        <table class="transactions-table oda-table" style="width:100%">
          <tbody>
            <thead>
              <th></th>
              <th></th>
            </thead>
            <% statsData[:count5DacSectorHigherLevelWise].each do |sector| %>
              <tr>
                <td><%= sector["higherLevelSectorName"] %></td>
                <td style="border-left: 1px solid rgb(218, 218, 218)"><%= convert_numbers_to_human_readable_format(sector['count'])%></td>
              </tr>
            <% end %>
            <tr>
                <td style="text-align:right;">Total </td>
                <td style="border-left: 1px solid rgb(218, 218, 218)"><%= convert_numbers_to_human_readable_format(statsData[:totalCount5DacSectorHigherLevelWise])%></td>
            </tr>
          </tbody>
        </table>
    </div>
</div>

<div class="row" style="margin-top: 20px">
  <div class="twelve columns">
        <h3 class="section-group-title">Sectors per Government Department (active)</h3>
        <table class="transactions-table oda-table" style="width:100%">
          <tbody>
            <thead>
              <th></th>
              <th></th>
            </thead>
            <% statsData[:sumBudgetActiveSectorDeptWise].each do |sector| %>
              <tr>
                <td><%=sector["orgName"] %></td>
                <td style="border-left: 1px solid rgb(218, 218, 218)"><%= sector["higherLevelSectorName"] %></td>
                <td style="border-left: 1px solid rgb(218, 218, 218)"><%= convert_numbers_to_human_readable_format(sector['budget'])%></td>
              </tr>
            <% end %>
          </tbody>
        </table>
    </div>
</div>  

<div class="row" style="margin-top: 20px">
  <div class="twelve columns">
        <h3 class="section-group-title">Budget Totals</h3>
        <table class="transactions-table oda-table" style="width:100%">
          <tbody>
            <thead>
              <th></th>
              <th></th>
            </thead>
            <% statsData[:sumYearWiseDeptBudget].each do |year| %>
              <tr>
                <td><%= financial_year_formatter(year['fy']) %></td>
                <td style="border-left: 1px solid rgb(218, 218, 218)"><%= year['dept'] %></td>
                <td style="border-left: 1px solid rgb(218, 218, 218)"><%= convert_numbers_to_human_readable_format(year['value'])%></td>
              </tr>
            <% end %>
          </tbody>
        </table>
    </div>
</div>