<div id="page-title" class="row">
    <div class="twelve columns">
        <img src="/images/ukaid_logo.png" alt="UK aid from the British people">
        <div>
            <div class="breadcrumb">
                <ul>
                    <li><a href="/index.html">Home</a></li>
                    <li><a href="/countries/<%= project['recipient']%>/index.html"><%= associated_country project['recipient'] || "" %></a></li>
                    <li title="<%= project['title'] %>"><%= project['title'] %></li>
                </ul>
            </div>
            <h1>
                <%= project['title'] %> <small>[<%= project['iatiId'] %>]</small>
            </h1>
            <div>
                <%= project['organisation'] || "Department for International Development" %>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="twelve columns">
        <div class="tab-bar-container">
            <div class="row">
                <div class="button-row">
                    <span>
                        <% projectTitle = project['title'] + " [" + project['iatiId'] + "]"%>
                        <a href="/fraud?project=<%= format_query_string(projectTitle) %>" class="button serious" title="Report fraud">Report Fraud</a>
                    </span>
                </div>
                <div class="projects-nav">
                    <nav>
                        <ul class="tab-bar">
                            <li <%= active=="summary" ? "class='active'" : ""%>><a href="/projects/<%=project['iatiId']%>">Summary</a></li>
                            <li <%= active=="documents" ? "class='active'" : ""%>><a href="/projects/<%=project['iatiId']%>/documents">Documents (<%= project_documents project['iatiId'] %>)</a></li>
                            <li <%= active=="transactions" ? "class='active'" : ""%>><a href="/projects/<%=project['iatiId']%>/transactions">Transactions</a></li>
                            <% if has_funded_projects then %>
                                <li <%= active=="partners" ? "class='active'" : ""%>><a href="/projects/<%=project['iatiId']%>/partners">Partners</a></li>
                            <% end %>
                            <% r4dDocs = r4DApiDocFetch(project['iatiId']) || '' %>
                            <%if !r4dDocs.nil? && r4dDocs.length > 0 %>
                                <li <%= active=="r4dDocs" ? "class='active'" : ""%>><a href="/projects/<%=project['iatiId']%>/r4dDocs">Research (<%= r4dDocs.length %>)</a></li>
                            <% end %>

                        </ul>
                    </nav>
                </div>          
            </div>
        </div>
    </div>
</div>