
<link type="text/css" rel="stylesheet" href="/stylesheets/jquery-ui-1.10.2.custom.min.css" >

<script src="/javascripts/jquery-ui-1.10.2.custom.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/javascripts/filterProjectsList.js"></script>
<script type="text/javascript" src="/javascripts/formatDate.js"></script>

<div class="row project-results">
    <div class="nine columns push-three" id="search-results">
        <div>
            <b>Sort results by:</b>
            &nbsp;
            Title
            <span id="sortProjTitle" class="sort-proj-sectors" style="display:inline;">▲</span>
            &nbsp;
            Budget
            <span id="sortProjBudg" class="sort-proj-sectors" style="display:inline;">▲</span>
        </div>

        <div>
            Showing
            <span name="afterFilteringAmount" style="display:inline;"></span>
            <span name="numberofResults" value="@results.size" style="display:inline;"><%=projects.size%></span> results
        </div>
        <% projects.each do |project| %>
            <div class="search-result">
                <input type="hidden" name="status" value="<%= activity_status(project['status']) %>"/>
                <input type="hidden" name="budget" value="<%= project['totalBudget'] %>"  class="sort-budget"/>
                <input type="hidden" name="title" value="<%= project['title'] %>" class="sort-title"/>
                <input type="hidden" name="sectors" value="<%=retrieve_high_level_sector_names(project["iatiId"])%>"/>
                <input type="hidden" name="organizations" value="<%=project['participatingOrgs'].join('#')%>" />
                <% if project['projectType'] == "country" %>
                    <input type="hidden" name="countries" value="<%=country_name project['recipient']%>" />
                <% end %>
                <% if project['projectType'] == "regional" %>
                    <input type="hidden" name="regions" value="<%=region_name project['recipient']%>"  />
                <% end %>
                <input type="hidden" name="organizations" value="<%=project['participatingOrgs'].join('#')%>" />
                <input type="hidden" name="documents" value="<% if(project['documents'] != nil) then result = ""; project['documents'].each do |d| d['categories'].each do |c| result += c.strip + '#' end;
                                            end; result = result.chop!; %><%= result %><% end%>" />
                <input type="hidden" name="dateStart" value="<%= choose_better_date(project['start-actual'], project['start-planned']) %>"/>
                <input type="hidden" name="dateEnd" value="<%= choose_better_date(project['end-actual'], project['end-planned']) %>"/>
                <h3>
                    <a href="/projects/<%=project['iatiId']%>">
                        <%=project['title']%> <small>[<%=project['iatiId']%>]</small>
                    </a>
                </h3>
                <span class="budget">Budget: <em> <%= number_to_currency(project['totalBudget'], :unit=>"£", :precision => 0) %></em></span>
                <span>Status: <em><%= activity_status project['status']%></em></span>
                <span>Reporting Org: <em><%= project['reportingOrg']%></em></span>
                <p class="description"><%=project['description']%></p>
            </div>
        <% end %>
    </div>

    <div class="three columns pull-nine">
        <div id="filter">
            <h2 class="visually-hidden">Results Filter</h2>
            <div name="status">
                <div class="proj-filter-exp-collapse-sign">+</div>
                <span class="proj-filter-exp-collapse-text" style="cursor:pointer"><h3>Status</h3></span>
            </div>
            <div name="locations">
                <h3>Locations</h3>
                <div style="margin-left:20px;" name="countries">
                    <div class="proj-filter-exp-collapse-sign">+</div>
                    <span class="proj-filter-exp-collapse-text" style="cursor:pointer"><h4>Countries</h4></span>
                </div>
                <div style="margin-left:20px;" name="regions">
                    <div class="proj-filter-exp-collapse-sign">+</div>
                    <span class="proj-filter-exp-collapse-text" style="cursor:pointer"><h4>Regions</h4></span>
                </div>
            </div>
            <div name="sectors">
                <div class="proj-filter-exp-collapse-sign">+</div>
                <span class="proj-filter-exp-collapse-text" style="cursor:pointer"><h3>Sectors</h3></span>
            </div>
            <div name="organizations">
                <div class="proj-filter-exp-collapse-sign">+</div>
                <span class="proj-filter-exp-collapse-text" style="cursor:pointer"><h3>Organisations</h3></span>
            </div>
            <div name="documents">
                <div class="proj-filter-exp-collapse-sign">+</div>
                <span class="proj-filter-exp-collapse-text" style="cursor:pointer"><h3>Document Type</h3></span>
            </div>
            <div name="budget">
                <h3>Budget Value</h3>
            </div>
            <span id="amount" style="border: 0; font-weight: bold;"></span>
            <div id="slider-vertical" style="height: 13px;width : 80%; margin-top: 10px;"></div>
            <div name="date" style="margin-top: 20px"><h3>Start and end date</h3></div>
            <span id="date-range" style="border: 0; font-weight: bold;"></span>
            <div id="date-slider-vertical" style="height: 13px;width : 80%; margin-top: 10px;"></div>
        </div>
    </div>
    <script src="/javascripts/sortProjectsList.js" type="text/javascript"></script>
</div>