<!--
title: Development Tracker
 -->

<%= erb :'partials/_projects-header', :locals => { :project => project, :active => "components"} %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m">Projects</h2>
      <p class="govuk-body">Vivamus laoreet, arcu eu imperdiet faucibus, quam erat dictum nulla, sed efficitur arcu neque quis diam.</p>    

      <%# ------------------------------------------------------------------------ %>
      <%#                       B U D G E T S   T A B L E                          %>
      <%# ------------------------------------------------------------------------ %>    
      <div id="budget_container" style="display: none">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Budget</h3>
        <p class="govuk-body govuk-!-margin-top-1 govuk-!-margin-bottom-2">The total amount of money available to spend. Some budgets may not be shown if programmes are in an active procurement phase.</p>
        <div class="app-flex-container">
            <div class="govuk-heading-l govuk-!-padding-top-2 govuk-!-margin-bottom-1"><span id="totalProjectBudget"></span></div>
            <div class="app-flex-container--item-right">
                <p class="govuk-!-font-size-16 govuk-!-margin-top-0 govuk-!-margin-bottom-0">Download data</p>
                <a href="/downloadCSV/<%= project['iati_identifier']%>/0" style="margin-left: 5px" class="api-link button"><strong class="govuk-tag govuk-tag--blue govuk-!-margin-top-1">CSV</strong></a>
            </div>
        </div>  

        <div id="waiting" class="app-display-none govuk-!-margin-top-5"><strong class="govuk-tag govuk-tag--yellow">Loading Data - Please wait</strong></div>

        <table class="govuk-table govuk-!-margin-top-4 govuk-!-margin-bottom-8 transactions-tablev2 display" data-module="moj-sortable-table">
          <thead>
            <tr>
              <th scope="col"><span>Financial Year</span></th>
              <th scope="col" class="govuk-table__header--numeric"><span>Value</span></th>
            </tr>
          </thead>
          <tbody class="app-table__body--numeric"></tbody>          
        </table>
      </div>

      <%# ------------------------------------------------------------------------ %>
      <%#                   C O M P O N E N T S   T A B L E                        %>
      <%# ------------------------------------------------------------------------ %>
      
      <div id="component_container" style="display: none">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Project Descriptions</h3>
        <p class="govuk-body govuk-!-margin-top-1 govuk-!-margin-bottom-2">Description of related projects.</p>

        <span id="genComList" style="display: none;">(Generating projects List... Please wait...)</span><span id="genComDetails" style="display: none;">(Generating Component Details... Please wait..)</span>

        <table id="transactionsv3" class="govuk-table govuk-!-margin-top-4 govuk-!-margin-bottom-8 display">
          <thead>
            <tr>
              <th><span>Project Title</span></th>
              <th><span>IATI Activity ID</span></th>
              <th><span>Start Date</span></th>
              <th><span>End Date</span></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body"></tbody>  
        </table>
      </div>
  </div>
<div>

<script src="/assets/js/jquery-3.6.0.min.js"></script>
<script src="/javascripts/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="/javascripts/dataTables.buttons.min.js" type="text/javascript"></script>
<script src="/javascripts/buttons.flash.min.js" type="text/javascript"></script>
<script src="/javascripts/buttons.html5.min.js" type="text/javascript"></script>
<script src="/javascripts/buttons.print.min.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/buttons.dataTables.min.css">
<script src="/javascripts/dinero.min.js" type="text/javascript"></script>
<script type="text/javascript">
  var jq3 = jQuery.noConflict(true);
  jq3(document).ready(function() {
    $('#waiting').show();
    jq3('#components').hide();
    function convertCurrency(value) {
      var tempData = {};
      tempData['precPoint'] = 0;
      tempData['amount'] = value;
      if(tempData['amount'].toString().includes('.')) {
        tempData['precPoint'] = tempData['amount'].toString().length - (tempData['amount'].toString().indexOf('.')+1);
        tempData['amount'] = parseInt(tempData['amount'].toString().replace('.', ''));
      }
      return tempData;
    }
    var projectCurrency = "<%= begin project['default-currency'] rescue 'GBP' end%>" ;
    var tab1 = jq3('#transactionsv3').DataTable({
      "info":false,
      "paging":false,
      "searching":false,
      "order":[1,"asc"]
    });
    var tab2 = jq3('.transactions-tablev2').DataTable({
      //"columnDefs": [
      // { className: "govuk-table__cell--numeric", "targets": [ 1 ] }
      //],
      retrieve: true,
      "info": false,
      "paging": false,
      "searching": false,
      dom: 'Bfrtip',
      buttons: [ 
        'csvHtml5'
      ],
      initComplete: function(){
        var $buttons = jq3('.dt-buttons').hide();
        $buttons.parent().parent().children('.downloadInCSV').click(function(){
          $buttons.find('.button-csv').click();
        });
        // jq3('.downloadInCSV').click(function(){
        //   jq3(this).parent().parent().parent().children('.dt-buttons').children('.buttons-csv').click();
        // });
      }
    });
    jq3('.transactions-tablev2').show();
    //Process for generating component details
    var components = [];
    var call1 = jq3.get('/country-or-region/<%= project["iati_identifier"]%>')
    .done(function(response){
      if(response.projectType == 'country'){
        $('#countryOrRegion').html('<a class="govuk-breadcrumbs__link" href="'+response.output.breadcrumbUrl+'/">'+response.output.breadcrumbUrl+'</a>');
      }
    });
    jq3('#genComList').show();
    var call2 = jq3.get('/component-list/<%= project["iati_identifier"]%>')
    .done(function(response){
      jq3('#genComList').hide();
      jq3('#genComDetails').show();
      components = response.output;
      if (components.length > 0) {
        $('#component_container').show();
      }
      jq3.each(components, function(i, data){
        jq3.get('/project-details/'.concat(data))
        .done(function(res){
          tab1.row.add([res.output.title,res.output.iati_identifier,res.output.activity_dates.start_date,res.output.activity_dates.end_date]);
          tab1.draw();
          jq3('#genComDetails').html('(Loaded: '.concat(i+1,' out of ', components.length, ' projects data.)'))
          if(components.length == i+1) {
            jq3('#genComDetails').hide();
          }
        })
      });
    });
    jq3('#components').show();
    jq3('#transactionsv3').show();
    var call3 = jq3.get('/total-project-budgetv2/<%= project["iati_identifier"]%>')
    .done(function(response){
      $('#totalProjectBudget').html(response.output);
    });
    var call4 = jq3.get('/project-yearwise-budget/<%= project["iati_identifier"]%>')
    .done(function(response){
      res = response.output;
      if (res.length > 0) {
        jq3('#budget_container').show();
      }
      jq3.each(res, function(i, data){
        var amount = convertCurrency(data['value']);
        tab2.row.add([data.fy,Dinero({amount: amount['amount'], currency: projectCurrency, precision: amount['precPoint']}).toFormat()]);
        tab2.draw();
      });
    });

    var call5 = jq3.get('/get-funding-projects/<%= project["iati_identifier"]%>')
    .done(function(response){
      if(response.output > 0) {
        $('.partner-tab').show();
      }
      else {
        jq3.get('/get-funded-projects/<%= project["iati_identifier"]%>')
        .done(function(res){
          if(res.output > 0) {
            $('.partner-tab').show();
          }
        })
      }
    })
    jq3.get('/transaction-count/<%= project["iati_identifier"]%>')
    .done(function(response){
        if(response.output > 0) {
            $('.transactions-tab').show();
        }
    })
    function allDone() {
      $('#waiting').hide();
    }
    function someFailed() {
      console.log('Some failed!');
    }
    $.when(call1, call2, call3, call4, call5).then(allDone, someFailed);
  })
</script>