<%= erb :'partials/_projects-header', :locals => { :project => project, :countryOrRegion => countryOrRegion, :fundedProjectsCount => fundedProjectsCount, :fundingProjectsCount => fundingProjectsCount, :active => "documents"} %>

<div class="row">
    <div class="twelve columns summary">
        <h2 class="visually-hidden">Documents</h2>
        <% if(is_dfid_project(project['iati_identifier'])) %>
          <p>DFID aim to be as transparent as possible however, in some cases, we are unable to show all the documents that are associated with a project, for example where there is a potential security risk. Documents for projects approved before January 2011 are not normally published.</p>
        <% end %>

        <table class="results-list">
            <thead class="visually-hidden">
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Doc Type</th>
                    <th scope="col">Categories</th>
                </tr>
            </thead>
            <tbody>
                <% project['document_links'].each do |document| %>
                  <tr class="result-list-row">
                      <th scope="row"><a href="<%=document['url']%>"><%= document['title'][0]['narratives'][0]['text'].gsub(/\.[^.]*$/, '') %></a></th>
                      <% if document['title'][0]['narratives'][0]['language']['code'] != "en" then%>
                         <td scope="col">
                            <span class="language">
                              <%= document['title'][0]['narratives'][0]['language']['name'] %>
                            </span>
                         </td>
                      <% end %>
                      <td scope="col">
                        <%= if !document['format'].nil? then iati_mime_type document['format']['code'] else "" end %> 
                      </td>
                      <td scope="col">
                        <% document['categories'].each do |category| %>
                          <span class="category">
                            <%= category['name']%>
                          </span>
                        <% end %>
                      </td>
                  </tr>
                <% end %>
            </tbody>
        </table>       
        
        
        
    </div>
</div>
