<%= erb :'partials/_projects-header', :locals => { :project => project, :countryOrRegion => countryOrRegion, :fundedProjectsCount => fundedProjectsCount, :fundingProjectsCount => fundingProjectsCount, :active => "documents"} %>

<div class="row">
    <div class="twelve columns summary">
      <h2>Documents</h2>
      <div class="row">
      </div>
      <div style="color: grey; margin-top: 5px; font-size: 1em">
        <% if(is_dfid_project(project['iati_identifier'])) %>
          <p>Some documents can be excluded due to privacy or security risks. Dates in brackets refer to the date the document was first published.</p>
        <% end %>
      </div>
        <table class="results-list">
            <thead class="visually-hidden">
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Doc Type</th>
                    <th scope="col">Categories</th>
                </tr>
            </thead>
            <tbody>
              <%if project.has_key?('document_link')%>
                <% project['document_link'].each_with_index do |document, i| %>
                  <%begin%>
                    <%
                    t_url = project['document_link_url'][i]
                    if t_url.include? "http://iati.fcdo."
                      t_url = t_url.sub! 'http:', 'https:'
                    end
                    t_url_txt = project['document_link_title_narrative_text'][i].gsub(/\.[^.]*$/, '')
                    t_code = project['document_link_title_narrative_lang'][i]
                    t_title = project['document_link_title_narrative_text'][i]
                    %>
                    <tr class="result-list-row">
                        <th scope="row"><a href="<%= t_url %>"><%= t_url_txt %></a></th>
                        <% if t_code != "en" then%>
                           <td scope="col">
                              <span class="language">
                                <%= t_title %>
                              </span>
                           </td>
                        <% end %>
                        <!-- <td scope="col">
                          <%#= if !document['format'].nil? then iati_mime_type document['format']['code'] else "" end %> 
                        </td> -->
                        <%
                          extractedItem = Nokogiri::XML(project['document_link_xml'][i])
                      		categories = extractedItem.xpath('//category')
                        %>
                        <td scope="col">
                          <% categories.each do |category| %>
                            <span class="category">
                              <%= doc_category_name(category.attr('code'))%>
                            </span>
                          <% end %>
                        </td>
                    </tr>
                  <%rescue%>
                    <p>Document link(s) not available. Please let the <a href="mailto:IATI-feedback@fcdo.gov.uk">site admins</a> know of this.</p>
                  <%end%>
                <% end %>
              <%end%>
                <!-- This part is to handle documents with application/mail formats -->
                <%# project['local_document_links'].each do |document| %>
               <!-- <tr class="result-list-row">
                        <th scope="row"><a href="<%#= document['url']%>"><%#= document['title']%></a></th>
                        
                        <td scope="col">
                          <%#= iati_mime_type document['format']%>
                        </td>
                        <td scope="col">
                          <%# tempCategories = document['category'].split(",") %>
                          <%# tempDocCategories = JSON.parse(File.read('data/doc_category_list.json')) %>
                          <%#tempCategories.each do |category|%>
                          <%# matchedCategory = tempDocCategories.select{|c| c['code'] == category} %>
                            <span class="category">
                              <%#= matchedCategory[0]["text"]%>
                            </span>
                          <%# end %>
                        </td>
                    </tr> -->
                  <%#end%>
            </tbody>
        </table>
    </div>
</div>
