<%= erb :'partials/_projects-header', :locals => { :project => project, :fundedProjectsCount => fundedProjectsCount, :active => "documents"} %>

<div class="row">
    <div class="twelve columns summary">
        <h2 class="visually-hidden">Documents</h2>
        <p>DFID aim to be as transparent as possible however, in some cases, we are unable to show all the documents that are associated with a project, for example where there is a potential security risk. Documents for projects approved before January 2011 are not normally published.</p>

        <table class="results-list">
            <thead class="visually-hidden">
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Doc Type</th>
                    <th scope="col">Categories</th>
                </tr>
            </thead>
            <tbody>
                <% 

                project['document_links'].each do |document| %>
                  <tr class="result-list-row">
                      <th scope="row"><a href="<%=document['url']%>"><%= document['title']['narratives'][0]['text'].gsub(/\.[^.]*$/, '') %></a></th>
                      <td scope="col">
                        <%#document['format'].each do |item| %>
                        <%= iati_mime_type document['format']['code'] %>
                        <%# end %>
                      </td>
                      <td scope="col">
                        <% document['category'].each do |category| %>
                          <span class="category">
                            <%=document_category category[1]%>
                          </span>
                        <% end %>
                      </td>
                  </tr>
                <% end %>
            </tbody>
        </table>       
        
        
        
    </div>
</div>
