<%= erb :'partials/_projects-header', :locals => { :project => project, :active => "documents"} %>

<div class="row">
    <div class="twelve columns summary">
      <h2>Documents</h2>
      <div class="row">
      </div>
      <div style="color: grey; margin-top: 5px; font-size: 1em">
        <% if(is_dfid_project(project['iati_identifier'])) %>
          <p>Some documents can be excluded due to privacy or security risks. Dates in brackets refer to the date the document was first published.</p>
        <% end %>
      </div>
        <table class="results-list">
            <thead class="visually-hidden">
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Doc Type</th>
                    <th scope="col">Categories</th>
                </tr>
            </thead>
            <tbody>
                <% project['document_link_title_narrative'].each_with_index do |document, index| %>
                  <%begin%>
                    <%
                    t_url = project['document_link_url'][index]
                    if t_url.include? "http://iati.fcdo."
                      t_url = t_url.sub! 'http:', 'https:'
                    end
                    t_url_txt = document.gsub(/\.[^.]*$/, '')
                    t_code = project['document_link_language_code'][index]
                    t_title = project['document_link_title_narrative_lang'][index]
                    categoryCodes = project['document-link.category-codes-combined'][index].split(',')
                    %>
                    <tr class="result-list-row">
                        <th scope="row"><a href="<%= t_url %>"><%= t_url_txt %></a></th>
                        <% if t_code != "en" then%>
                           <td scope="col">
                              <span class="language">
                                <%= t_title %>
                              </span>
                           </td>
                        <% end %>
                        <td scope="col">
                          <% categoryCodes.each do |category| %>
                            <%
                              cat = cateogies.select{|s| s['code'].to_s == category.to_s}.first
                            %>
                            <span class="category">
                              <%= cat['text']%>
                            </span>
                          <% end %>
                        </td>
                    </tr>
                  <%rescue%>
                    <p>Document link(s) not available. Please let the <a href="mailto:IATI-feedback@fcdo.gov.uk">site admins</a> know of this.</p>
                  <%end%>
                <% end %>
            </tbody>
        </table>
    </div>
</div>

<script src="/javascripts/jquery-3.3.1.js" type="text/javascript"></script>
<script src="/javascripts/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="/javascripts/dataTables.buttons.min.js" type="text/javascript"></script>
<script src="/javascripts/buttons.flash.min.js" type="text/javascript"></script>
<script src="/javascripts/buttons.html5.min.js" type="text/javascript"></script>
<script src="/javascripts/buttons.print.min.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/buttons.dataTables.min.css">
<script type="text/javascript">
  var jq3 = jQuery.noConflict(true);
  jq3(document).ready(function() {
    jq3('.transactions-tablev2').show();
    //Process for generating component details
    var components = [];
    jq3.get('/country-or-region/<%= project["iati_identifier"]%>')
    .done(function(response){
      if(response.projectType == 'country'){
        $('#countryOrRegion').html('<a class="govuk-breadcrumbs__link" href="'+response.output.breadcrumbUrl+'/">'+response.output.breadcrumbUrl+'</a>');
      }
    });
    jq3.get('/transaction-count/<%= project["iati_identifier"]%>')
    .done(function(response){
        if(response.output > 0) {
            $('.transactions-tab').show();
        }
    })
    jq3.get('/get-funding-projects/<%= project["iati_identifier"]%>')
    .done(function(response){
      if(response.output > 0) {
        $('.partner-tab').show();
      }
      else {
        jq3.get('/get-funded-projects/<%= project["iati_identifier"]%>')
        .done(function(res){
          if(res.output > 0) {
            $('.partner-tab').show();
          }
        })
      }
    })
  })
</script>