<!-- title: Development Tracker -->

<%= erb :'partials/_projects-header', :locals => { :project => project, :countryOrRegion => countryOrRegion, :fundedProjectsCount => fundedProjectsCount, :fundingProjectsCount => fundingProjectsCount, :active => "partners"} %>
  
  <% if fundingProjectsCount > 0 then %>
    <div class="row">
        <div class="twelve columns results-info">
          <h3 class="section-group-title">Funding Project</h3>
          <%# fundingProjects2=fundingProjects.group_by{|b| b['provider_organisation']['provider_activity_id'].to_s.strip}.map{|provider_activity_id, budgets|
                  summedBudgets = budgets.reduce(0) {|memo, budget| memo + budget['value'].to_f}
                  [provider_activity_id, summedBudgets]} #%>
          <% fundingProjects2.each do |key, value| %>
            <div class="row">
              <div class="four columns summary">
                  <h4><%= value['fundingOrg'] %></h4>         
              </div>
              <div class="eight columns">
                <ul>
                    <li><a href="/projects/<%=ERB::Util.url_encode(value['fundingProjectId']).to_s%>/summary"><%=value['fundingProjectTitle']%></a><%=value['fundingProjectDescription']%>
                        <span>
                          <%# If the default currency value is undefined do not show a value for the project%>
                          <%=begin
                              Money.new(value['fundingAmount'].to_f.round(0)*100, value['default_currency']).format(:no_cents_if_whole => true,:sign_before_symbol => false)
                            rescue
                            end %>
                        </span>    
                    </li>
                </ul>
              </div>
            </div>
          <% end %>
        </div>
    </div>
  <% end %>


  <% if fundedProjectsCount > 0 then %>
      <div class="row">
          <div class="twelve columns results-info">                 
              <% if is_dfid_project(project['iati_identifier']) then %>
                <h3 class="section-group-title">Partner Projects</h3>
              <%else%>
                 <h3 class="section-group-title">Funded Projects</h3>
              <%end%>
              <% fundedProjects2.each do |fundedProject| %>
                <div class="row">
                  <div class="four columns summary">
                      <h4><%= fundedProject['reportingOrg'] %></h4>
                  </div>
                  <div class="eight columns">
                    <ul>
                      <li>
                        <a href="/projects/<%=ERB::Util.url_encode(fundedProject['iati_identifier']).to_s%>/summary"><%=fundedProject['title']%></a>
                        <%= fundedProject['description']%>
                        <span>
                          Total Project Budget: <%= Money.new(fundedProject['budget'].to_f.round(0)*100,fundedProject['default_currency']).format(:no_cents_if_whole => true,:sign_before_symbol => false)%>
                        </span>
                        <span>
                          Total Funding: Not implemented yet
                        </span>
                      </li>
                    </ul>
                  </div>
                </div>
              <% end %>
            </div>
        </div>
  <% end %>