<!-- title: Development Tracker -->

<%= erb :'partials/_projects-header', :locals => { :project => project, :fundedProjectsCount => fundedProjectsCount, :active => "partners"} %>

<% if fundedProjectsCount > 0 then %> 
  <div class="row">
      <div class="twelve columns results-info">                 
        
        <%# TODO - identify and list any funding projects %>

        <% if is_dfid_project(project['id']) then %>
          <h3 class="section-group-title">Partner Projects</h3>
        <%else%>
           <h3 class="section-group-title">Funded Projects</h3>
        <%end%>
          <% fundedProjects.each do |funded_project| %>
          <div class="row">
              <div class="four columns summary">
                  <h4>Organisation Name Placeholder</h4>     
              </div>
              <div class="eight columns">
                  <ul>
                     <%# TODO - deal with the situation where we have multiple languages %>
                     <li><a href="/projects/<%=funded_project['id']%>"><%=funded_project['title']['narratives'][0]['text']%></a>
                       <%#  <%=funded_project['description']%>
                       Description Placeholder
                       <%# TODO - format the budget correctly & ensure that there are no null currency values %>
                       <span><%=funded_project['total_budget']['value']%></span>
                     </li>
                  </ul> 
              </div>
          </div>
        <% end %>
      </div>
  </div>
<% end %>