<!-- title: Development Tracker -->

<%= erb :'partials/_projects-header', :locals => { :project => project, :countryOrRegion => countryOrRegion, :fundedProjectsCount => fundedProjectsCount, :fundingProjectsCount => fundingProjectsCount, :active => "partners-comparison"} %>
<div class="row">
  <div class="twelve columns">
    <h3 class="section-group-title">Comparison table</h3>
    <%partnerComparisonData.each do |data|%>
      <%data[1]['fundedProjectData'].each do |childData|%>
        <table class="comparison-table display" style="width:100%">
          <thead>
            <tr>
              <th>DFID</th>
              <th>Supplier</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= data[1]['selfData']['iati_identifier']%></td>
              <td><%= childData['iati_identifier']%></td>
            </tr>
            <tr>
              <td><%= data[1]['selfData']['title']%></td>
              <td><%= childData['title']%></td>
            </tr>
            <tr>
              <td>
                <% data[1]['selfData']['activity']%>
              </td>
              <td><%= childData['title']%></td>
            </tr>
          </tbody>
        </table>
      <%end%>
    <%end%>
  </div>
</div>