<!-- title: Development Tracker -->

<%= erb :'partials/_projects-header', :locals => { :project => project, :countryOrRegion => countryOrRegion, :fundedProjectsCount => fundedProjectsCount, :fundingProjectsCount => fundingProjectsCount, :active => "partners"} %>

  <% if fundingProjectsCount > 0 then %>
      <div class="row">
          <div class="twelve columns results-info">
            <h3 class="section-group-title">Funding Project</h3>
            <% fundingProjects=fundingProjects.group_by{|b| b['provider_organisation']['provider_activity_id'].to_s.strip}.map{|provider_activity_id, budgets|
                    summedBudgets = budgets.reduce(0) {|memo, budget| memo + budget['value'].to_f}
                    [provider_activity_id, summedBudgets]} %>
            <% fundingProjects.each do |fundingProject| %>
                <% if is_valid_project(fundingProject[0]) %>
                  <% fundingProjectDetails= get_funding_project(fundingProject[0])%>
                  <%if fundingProjectDetails != '' %>
                    <% fundingProjectDetailsCurrency= get_funding_project(project['iati_identifier'])%>
                    <div class="row">        
                      <div class="four columns summary">
                          <h4><%= fundingProjectDetails['reporting_organisation']['narratives'][0]['text'] %></h4>         
                      </div>
                      <div class="eight columns">
                          <ul>
                              <li><a href="/projects/<%=fundingProjectDetails['iati_identifier']%>"><%=fundingProjectDetails['title']['narratives'][0]['text']%></a><%=fundingProjectDetails['descriptions'][0]['narratives'][0]['text']%>
                                  <span>
                                     <%# If the default currency value is undefined do not show a value for the project%>
                                     <%=begin
                                         Money.new(fundingProject[1].to_f.round(0)*100, fundingProjectDetailsCurrency['default_currency']['code']).format(:no_cents_if_whole => true,:sign_before_symbol => false)
                                      rescue
                                               
                                      end %>
                                  </span>    
                              </li>
                          </ul> 
                      </div>
                    </div>
                  <%end%>
                <% end %>
            <% end %>
          </div>
      </div>
  <% end %>

  <% if fundedProjectsCount > 0 then %>
      <div class="row">
          <div class="twelve columns results-info">                 
              <% if is_dfid_project(project['iati_identifier']) then %>
                <h3 class="section-group-title">Partner Projects</h3>
              <%else%>
                 <h3 class="section-group-title">Funded Projects</h3>
              <%end%>
              <table id="fundedProjects" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>Reporting Organisation</th>
                        <th>Project Title</th>
                         <th>Description</th>
                        <th>Total Project Budget</th>
                       <th>DFID Funding</th>
                    </tr>
                </thead>
            </table>
          </div>
      </div>
    <script src="/javascripts/jquery-3.3.1.js" type="text/javascript"></script>
    <script src="/javascripts/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="/javascripts/dataTables.buttons.min.js" type="text/javascript"></script>
    <script src="/javascripts/buttons.flash.min.js" type="text/javascript"></script>
    <script src="/javascripts/buttons.html5.min.js" type="text/javascript"></script>
    <script src="/javascripts/buttons.print.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/buttons.dataTables.min.css">
    <script type="text/javascript">
      var jq3 = jQuery.noConflict(true);
      jq3(document).ready(function() {
        jq3('#fundedProjects').DataTable({
          "processing": true,
          "serverSide": true,
          "info": false,
          "searching": false,
          "lengthChange": false,
          "ajax": {
            "url": "/generateFundedProjects/<%=project['iati_identifier']%>"
          },
          "columns": [
            { "data": "reporting_organisation.narratives.0.text" },
            { 
              "data": "title.narratives.0.text",
              "render": function(data, type, row, meta){
                return '<a href="/projects/'+row['iati_identifier']+'">'+data+'</a>';
              }
            },
            { "data": "descriptions.0.narratives.0.text" },
            { "data": "totalProjectBudget" },
            { "data": "DFIDFunding" }
            // { "data": "aggregations.activity_children.budget_value"},
            // { "data": "aggregations.activity_children.budget_value"}
          ]
        });
        //jq3('#example').show();
      })
    </script>
  <% end %>

