<!--
title: Development Tracker
 -->

<%= erb :'partials/_projects-header', :locals => { :project => project, :active => "transactions"} %>
<div class="row">
  <div id="waiting" class="twelve columns" style="display: none;"><p style="text-align: center; padding: 15px;"><strong class="govuk-tag govuk-tag--yellow">Loading Data.. Please wait..</strong></p></div>
<!-- <div style="display: none;" class="twelve columns">
  <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
      <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
        Loading Data..
      </h2>
    </div>
    <div class="govuk-notification-banner__content">
      Please wait while we generate the transactions data table(s) for you.
    </div>
  </div>
</div> -->
<%# ------------------------------------------------------------------------ %>
<%#                   I N C O M I N G   F U N D S   T A B L E                %>
<%# ------------------------------------------------------------------------ %>
<div id="incoming_funds_container" style="display: none" class="twelve columns">
  <details class="govuk-details" data-module="govuk-details" open>
  <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
          Incoming Funds
      </span>
  </summary>
    <div class="govuk-details__text">
    <div class="row">
    <div class="twelve columns transactions" style="margin-top: 15px">
       <div class="section-group-title trans-header-container">
            <div class="trans-header-left">
              <span class="trans-type-title">Incoming Funds</span>
              <a class="more-info-link more-info-link-spacer" id="moreinfolinkincomingFunds" target="2">
                 <img src="/images/icon-information.png" alt="More information about Incoming Funds" class="more-info-link-middle"/>
              </a> 
              <aside id="moreinfoincomingFunds" class="more-info">  
                    <div class="more-info-content trans-more-info-box-limiter">
                      Funds that originate from a source other than the donor(s) reported in the activity.
                    </div>
              </aside>   
              <p style="margin-bottom:2px;">(Funds received from an external funding source)</p>
             </div>  
  
             <div class="trans-header-right">
                <div class="float-right trans-type-value">
                  <span id="totalIncomingFundsValue">Calculating..</span>
                  <a href="/downloadCSV/<%= project['iati_identifier']%>/1" class="api-link button">CSV</a>
                </div>
             </div>        
        </div> 
        <table id="incomingFunds" class="transactions-tablev2 display" style="width:100%; display: none">
          <thead>
            <tr>
              <th>Activity Description</th>
              <th>Provider</th>
              <th>Date</th>
              <th>Value</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
    </div>
    <div class="twelve columns">
      <button id="incomingFunds_more" class="govuk-button" data-module="govuk-button" style="margin-top: 10px; float: right;">
        Load more
      </button>
      <input id="incomingFunds_more_data" type="hidden" value="1" />
    </div>
  </div>
    </div>
  </details>
</div>
<%#= erb :'partials/_transaction-type-wise-listing', :locals => { :transactionsList => incomingFunds, :transactionTypeTitle => 'Incoming Funds', :transactionTypeDetails => 'Funds that originate from a source other than the donor(s) reported in the activity.', :transactionTypeDetails2 => '(Funds received from an external funding source)', :project => project, :transactionValueParameter => 'incoming_funds_value', :transactionCurrencyParameter => 'incoming_funds_currency', :cssId => 'incomingFunds' , :fifthcolumn=> 'Receiver Organisation', :active => "transactions", :csvurl => "/downloadCSV/"+project['iati_identifier']+"/1"} %>


<%# ------------------------------------------------------------------------ %>
<%#                   C O M M I T M E N T S   T A B L E                      %>
<%# ------------------------------------------------------------------------ %>
<div id="commitments_container" style="display: none" class="twelve columns">
<details class="govuk-details" data-module="govuk-details" open>
<summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
        Commitments
    </span>
</summary>
<div class="govuk-details__text">
<div class="row">
  <div class="twelve columns transactions" style="margin-top: 15px">
     <div class="section-group-title trans-header-container">
          <div class="trans-header-left">
            <span class="trans-type-title">Commitments</span>
            <a class="more-info-link more-info-link-spacer" id="moreinfolinkcommitments" target="2">
               <img src="/images/icon-information.png" alt="More information about Commitments" class="more-info-link-middle"/>
            </a> 
            <aside id="moreinfocommitments" class="more-info">  
                  <div class="more-info-content trans-more-info-box-limiter">
                    A firm obligation to provide resources of a specified amount.
                  </div>
            </aside>   
            <p style="margin-bottom:2px;"></p>
           </div>  

           <div class="trans-header-right">
              <div class="float-right trans-type-value">
                <span id="totalCommitmentValue">Calculating..</span>
                <a href="/downloadCSV/<%= project['iati_identifier']%>/2" class="api-link button">CSV</a>
              </div>
           </div>        
      </div> 
      <table id="commitments" class="transactions-tablev2 display" style="width:100%; display: none">
        <thead>
          <tr>
            <th>Receiver Organisation</th>
            <th>Organisation Type</th>
            <th>IATI Activity ID</th>
            <th>Date</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
  </div>
  <div class="twelve columns">
    <button id="commitments_more" class="govuk-button" data-module="govuk-button" style="margin-top: 10px; float: right;">
      Load more
    </button>
    <input id="commitments_more_data" type="hidden" value="1" />
  </div>
</div>
</div>
</details>
</div>


<%# ------------------------------------------------------------------------ %>
<%#                   D I S B U R S E M E N T S   T A B L E                  %>
<%# ------------------------------------------------------------------------ %>

<%#= erb :'partials/_transaction-type-wise-listing', :locals => { :transactionsList => disbursements, :transactionTypeTitle => 'Disbursements', :transactionTypeDetails => 'The amount placed at the disposal of a recipient country or agency.', :transactionTypeDetails2 => '', :project => project, :transactionValueParameter => 'disbursement_value', :transactionCurrencyParameter => 'disbursement_currency', :cssId => 'disbursements', :fifthcolumn=> 'Receiver Organisation' , :active => "transactions", :csvurl => "/downloadCSV/"+project['iati_identifier']+"/3"} %>
<div id="disbursements_container" style="display: none" class="twelve columns">
      <details class="govuk-details" data-module="govuk-details" open>
          <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                  Disbursments
              </span>
          </summary>
          <div class="govuk-details__text">
          <div class="row">
  <div class="twelve columns transactions" style="margin-top: 15px">
     <div class="section-group-title trans-header-container">
          <div class="trans-header-left">
            <span class="trans-type-title">Disbursements</span>
            <a class="more-info-link more-info-link-spacer" id="moreinfolinkdisbursements" target="2">
               <img src="/images/icon-information.png" alt="More information about Disbursements" class="more-info-link-middle"/>
            </a> 
            <aside id="moreinfodisbursements" class="more-info">  
                  <div class="more-info-content trans-more-info-box-limiter">
                    The amount placed at the disposal of a recipient country or agency.
                  </div>
            </aside>   
            <p style="margin-bottom:2px;"></p>
           </div>  

           <div class="trans-header-right">
              <div class="float-right trans-type-value">
                <span id="totalDisbursementsValue">Calculating..</span>
                <a href="/downloadCSV/<%= project['iati_identifier']%>/3" class="api-link button">CSV</a>
              </div>
           </div>        
      </div> 
      <table id="disbursements" class="transactions-tablev2 display" style="width:100%; display: none">
        <thead>
          <tr>
            <th>Receiver Organisation</th>
            <th>Organisation Type</th>
            <th>IATI Activity ID</th>
            <th>Date</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
  </div>
  <div class="twelve columns">
    <button id="disbursements_more" class="govuk-button" data-module="govuk-button" style="margin-top: 10px; float: right;">
      Load more
    </button>
    <input id="disbursements_more_data" type="hidden" value="1" />
  </div>
</div>
          </div>
      </details>
    </div>

<%# ------------------------------------------------------------------------ %>
<%#                   E X P E N D I T U R E   T A B L E                      %>
<%# ------------------------------------------------------------------------ %>

<%#= erb :'partials/_transaction-type-wise-listing', :locals => { :transactionsList => expenditures, :transactionTypeTitle => 'Expenditure', :transactionTypeDetails => 'Funds spent on goods and services.', :transactionTypeDetails2 => '', :project => project, :transactionValueParameter => 'expenditure_value', :transactionCurrencyParameter => 'expenditure_currency', :cssId => 'expenditures', :fifthcolumn=> 'Receiver Organisation' , :active => "transactions", :csvurl => "/downloadCSV/"+project['iati_identifier']+"/4"} %>
<div id="expenditures_container" style="display: none" class="twelve columns">
      <details class="govuk-details" data-module="govuk-details" open>
          <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                  Expenditures
              </span>
          </summary>
          <div class="govuk-details__text">
            <div class="row">
              <div class="twelve columns transactions" style="margin-top: 15px">
                <div class="section-group-title trans-header-container">
                      <div class="trans-header-left">
                        <span class="trans-type-title">Expenditure</span>
                        <a class="more-info-link more-info-link-spacer" id="moreinfolinkexpenditures" target="2">
                          <img src="/images/icon-information.png" alt="More information about expenditures" class="more-info-link-middle"/>
                        </a> 
                        <aside id="moreinfoexpenditures" class="more-info">  
                              <div class="more-info-content trans-more-info-box-limiter">
                                Funds spent on goods and services.
                              </div>
                        </aside>   
                        <p style="margin-bottom:2px;"></p>
                      </div>  

                      <div class="trans-header-right">
                          <div class="float-right trans-type-value">
                            <span id="totalExpenditureValue">Calculating..</span>
                            <a href="/downloadCSV/<%= project['iati_identifier']%>/4" class="api-link button">CSV</a>
                          </div>
                      </div>        
                  </div> 
                  <table id="expenditures" class="transactions-tablev2 display" style="width:100%; display: none">
                    <thead>
                      <tr>
                        <th>Activity Description</th>
                        <th>Receiver Organisation</th>
                        <th>IATI Activity ID</th>
                        <th>Date</th>
                        <th>Value</th>
                      </tr>
                    </thead>
                    <tbody>
                    </tbody>
                  </table>
              </div>
              <div class="twelve columns">
                <button id="expenditures_more" class="govuk-button" data-module="govuk-button" style="margin-top: 10px; float: right;">
                  Load more
                </button>
                <input id="expenditures_more_data" type="hidden" value="1" />
              </div>
            </div>
          </div>
      </details>
    </div>
<%# ------------------------------------------------------------------------------------- %>
<%#                   I N T E R E S T  R E P A Y M E N T   T A B L E                      %>
<%# ------------------------------------------------------------------------------------- %>

<%#= erb :'partials/_transaction-type-wise-listing', :locals => { :transactionsList => interestRepayments, :transactionTypeTitle => 'Interest Repayment', :transactionTypeDetails => 'Amount of interest paid on a loan or line of credit, including fees', :transactionTypeDetails2 => '', :project => project, :transactionValueParameter => 'interest_payment_value', :transactionCurrencyParameter => 'interest_payment_currency', :cssId => 'interestRepayments', :fifthcolumn=> 'Receiver Organisation' , :active => "transactions", :csvurl => "/downloadCSV/"+project['iati_identifier']+"/5"} %>
<div id="interestRepayments_container" style="display: none" class="twelve columns">
      <details class="govuk-details" data-module="govuk-details" open>
          <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Interest Repayment
              </span>
          </summary>
          <div class="govuk-details__text">
          <div class="row">
  <div class="twelve columns transactions" style="margin-top: 15px">
     <div class="section-group-title trans-header-container">
          <div class="trans-header-left">
            <span class="trans-type-title">Interest Repayment</span>
            <a class="more-info-link more-info-link-spacer" id="moreinfolinkinterestRepayments" target="2">
               <img src="/images/icon-information.png" alt="More information about interest repayments" class="more-info-link-middle"/>
            </a> 
            <aside id="moreinfointerestRepayments" class="more-info">  
                  <div class="more-info-content trans-more-info-box-limiter">
                  Amount of interest paid on a loan or line of credit, including fees
                  </div>
            </aside>   
            <p style="margin-bottom:2px;"></p>
           </div>  

           <div class="trans-header-right">
              <div class="float-right trans-type-value">
                <span id="totalInterestRepaymentsValue">Calculating..</span>
                <a href="/downloadCSV/<%= project['iati_identifier']%>/5" class="api-link button">CSV</a>
              </div>
           </div>        
      </div> 
      <table id="interestRepayments" class="transactions-tablev2 display" style="width:100%; display: none">
        <thead>
          <tr>
            <th>Activity Description</th>
            <th>Receiver Organisation</th>
            <th>IATI Activity ID</th>
            <th>Date</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
  </div>
  <div class="twelve columns">
    <button id="interestRepayments_more" class="govuk-button" data-module="govuk-button" style="margin-top: 10px; float: right;">
      Load more
    </button>
    <input id="interestRepayments_more_data" type="hidden" value="1" />
  </div>
</div>
          </div>
      </details>
    </div>
<%# ------------------------------------------------------------------------------------- %>
<%#                   L O A N  R E P A Y M E N T   T A B L E                              %>
<%# ------------------------------------------------------------------------------------- %>

<%#= erb :'partials/_transaction-type-wise-listing', :locals => { :transactionsList => loanRepayments, :transactionTypeTitle => 'Loan Repayment', :transactionTypeDetails => 'The actual amount of principal (amortisation) repaid, including any arrears', :transactionTypeDetails2 => '', :project => project, :transactionValueParameter => 'loan_repayment_value', :transactionCurrencyParameter => 'loan_repayment_currency', :cssId => 'loanRepayments', :fifthcolumn=> 'Receiver Organisation' , :active => "transactions", :csvurl => "/downloadCSV/"+project['iati_identifier']+"/6"} %>
<div id="loanRepayments_container" style="display: none" class="twelve columns">
      <details class="govuk-details" data-module="govuk-details" open>
          <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
              Loan Repayment
              </span>
          </summary>
          <div class="govuk-details__text">
          <div class="row">
  <div class="twelve columns transactions" style="margin-top: 15px">
     <div class="section-group-title trans-header-container">
          <div class="trans-header-left">
            <span class="trans-type-title">Loan Repayment</span>
            <a class="more-info-link more-info-link-spacer" id="moreinfolinkloanRepayments" target="2">
               <img src="/images/icon-information.png" alt="More information about Loan Repayment" class="more-info-link-middle"/>
            </a> 
            <aside id="moreinfoloanRepayments" class="more-info">  
                  <div class="more-info-content trans-more-info-box-limiter">
                  The actual amount of principal (amortisation) repaid, including any arrears
                  </div>
            </aside>   
            <p style="margin-bottom:2px;"></p>
           </div>  

           <div class="trans-header-right">
              <div class="float-right trans-type-value">
                <span id="totalLoanRepaymentsValue">Calculating..</span>
                <a href="/downloadCSV/<%= project['iati_identifier']%>/6" class="api-link button">CSV</a>
              </div>
           </div>        
      </div> 
      <table id="loanRepayments" class="transactions-tablev2 display" style="width:100%; display: none">
        <thead>
          <tr>
            <th>Activity Description</th>
            <th>Receiver Organisation</th>
            <th>IATI Activity ID</th>
            <th>Date</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
  </div>
  <div class="twelve columns">
    <button id="loanRepayments_more" class="govuk-button" data-module="govuk-button" style="margin-top: 10px; float: right;">
      Load more
    </button>
    <input id="loanRepayments_more_data" type="hidden" value="1" />
  </div>
</div>
          </div>
      </details>
    </div>
<%# ------------------------------------------------------------------------------------- %>
<%#                   P U R C H A S E  O F  E Q U I T Y    T A B L E                      %>
<%# ------------------------------------------------------------------------------------- %>

<%#= erb :'partials/_transaction-type-wise-listing', :locals => { :transactionsList => purchaseEquities, :transactionTypeTitle => 'Purchase of Equity', :transactionTypeDetails => 'Outgoing funds to purchase equity', :transactionTypeDetails2 => '', :project => project, :transactionValueParameter => 'purchase_of_equity_value', :cssId => 'purchaseEquities', :transactionCurrencyParameter => 'purchase_of_equity_currency', :fifthcolumn=> 'Receiver Organisation' , :active => "transactions", :csvurl => "/downloadCSV/"+project['iati_identifier']+"/8"} %>
<div id="purchaseEquities_container" style="display: none" class="twelve columns">
      <details class="govuk-details" data-module="govuk-details" open>
          <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
              Purchase of Equity
              </span>
          </summary>
          <div class="govuk-details__text">
          <div class="row">
  <div class="twelve columns transactions" style="margin-top: 15px">
     <div class="section-group-title trans-header-container">
          <div class="trans-header-left">
            <span class="trans-type-title">Purchase of Equity</span>
            <a class="more-info-link more-info-link-spacer" id="moreinfolinkpurchaseEquities" target="2">
               <img src="/images/icon-information.png" alt="More information about Purchase of Equity" class="more-info-link-middle"/>
            </a> 
            <aside id="moreinfopurchaseEquities" class="more-info">  
                  <div class="more-info-content trans-more-info-box-limiter">
                  Outgoing funds to purchase equity
                  </div>
            </aside>   
            <p style="margin-bottom:2px;"></p>
           </div>  

           <div class="trans-header-right">
              <div class="float-right trans-type-value">
                <span id="totalPurchaseEquitiesValue">Calculating..</span>
                <a href="/downloadCSV/<%= project['iati_identifier']%>/8" class="api-link button">CSV</a>
              </div>
           </div>        
      </div> 
      <table id="purchaseEquities" class="transactions-tablev2 display" style="width:100%; display: none">
        <thead>
          <tr>
            <th>Activity Description</th>
            <th>Receiver Organisation</th>
            <th>IATI Activity ID</th>
            <th>Date</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
  </div>
  <div class="twelve columns">
    <button id="purchaseEquities_more" class="govuk-button" data-module="govuk-button" style="margin-top: 10px; float: right;">
      Load more
    </button>
    <input id="purchaseEquities_more_data" type="hidden" value="1" />
  </div>
</div>
          </div>
      </details>
    </div>
</div>
<script src="/javascripts/jquery-3.3.1.js" type="text/javascript"></script>
<script src="/javascripts/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="/javascripts/dataTables.buttons.min.js" type="text/javascript"></script>
<script src="/javascripts/buttons.flash.min.js" type="text/javascript"></script>
<script src="/javascripts/buttons.html5.min.js" type="text/javascript"></script>
<script src="/javascripts/buttons.print.min.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/buttons.dataTables.min.css">
<script src="/javascripts/dinero.min.js" type="text/javascript"></script>
<script type="text/javascript">
  var jq3 = jQuery.noConflict(true);
  jq3(document).ready(function() {
    // Handle partners tab button
    $('#waiting').slideDown('slow');
    jq3.get('/get-funding-projects/<%= project["iati_identifier"]%>')
    .done(function(response){
      if(response.output > 0) {
        $('.partner-tab').show();
      }
      else {
        jq3.get('/get-funded-projects/<%= project["iati_identifier"]%>')
        .done(function(res){
          if(res.output > 0) {
            $('.partner-tab').show();
          }
        })
      }
    });
    let dollarUSLocale = Intl.NumberFormat('en-US');
    var projectInfo = <%= project['participating_org'].to_json %>;
    var projectCurrency = "<%= begin project['default_currency']['code'] rescue 'GBP' end%>" ;
    function convertCurrency(value) {
      var tempData = {};
      tempData['precPoint'] = 0;
      tempData['amount'] = value;
      if(tempData['amount'].toString().search('.') != -1) {
        tempData['precPoint'] = 2;
        tempData['amount'] = parseInt(tempData['amount'].toString().replace('.', ''));
      }
      return tempData;
    }
    const months = [
      'Jan',
      'Feb',
      'Mar',
      'Apr',
      'May',
      'Jun',
      'Jul',
      'Aug',
      'Sep',
      'Oct',
      'Nov',
      'Dec'
    ];
    // The following is for commitments
    function a7(nextPage){
      return jq3.post('/transaction-details-page', {
        data: {
          'projectID': "<%= project['iati_identifier'] %>",
          'transactionType': 2,
          'nextPage': nextPage
        }
      })
      .done(function(response){
        res = response.output['transactions'];
        if (res.length > 0) {
          if(response.output['hasNext'] == null){
            $('#commitments_more').hide();
          }
          var total_commitments = 0.00;
          var tabCommitments = jq3('#commitments').DataTable({
            retrieve: true,
            "info": false,
            "paging": false,
            "searching": false,
            dom: 'Bfrtip',
            buttons: [
              'csvHtml5'
            ],
            initComplete: function(){
              var $buttons = jq3('.dt-buttons').hide();
              $buttons.parent().parent().children('.downloadInCSV').click(function(){
                $buttons.find('.button-csv').click();
              });
            }
          });
          jq3('#commitments_container').slideDown();
          jq3('#commitments').show();
          jq3.each(res, function(i, data){
            total_commitments = total_commitments + parseFloat(data.value);
            var receiver_org = '';
            try {
              receiver_org = data.receiver_organisation.narrative[0].text;
            }
            catch {
              receiver_org = 'N/A';
            }
            var receiver_org_type = '';
            try {
              jq3.each(projectInfo, function(i, d){
                if(d.ref == data.receiver_organisation.ref){
                  receiver_org_type = d.type.name;
                }
              });
            }
            catch {
              receiver_org_type = 'N/A';
            }
            var transaction_date = new Date(data.transaction_date);
            var final_date = ('0' + transaction_date.getDate()).slice(-2).toString() + ' ' + months[transaction_date.getMonth()] + ' ' + transaction_date.getFullYear().toString();
            var amount = convertCurrency(data.value);
            tabCommitments.row.add([receiver_org, receiver_org_type, data.activity.iati_identifier, final_date, Dinero({amount: amount['amount'], currency: projectCurrency, precision: amount['precPoint']}).toFormat()]);
            tabCommitments.draw();
          });
        }
      });
    }
    // Incoming Funds logic starts here
    
    function a6(nextPage) {
      return jq3.post('/transaction-details-page', {
        data: {
          'projectID': "<%= project['iati_identifier'] %>",
          'transactionType': 1,
          'nextPage': nextPage
        }
      })
      .done(function(response){
        res = response.output['transactions'];
        if(res.length > 0){
          if(response.output['hasNext'] == null){
            $('#incomingFunds_more').hide();
          }
          var total_incoming_funds = 0.00;
          var tabincomingFunds = jq3('#incomingFunds').DataTable({
            retrieve: true,
            "info": false,
            "paging": false,
            "searching": false,
            dom: 'Bfrtip',
            buttons: [
              'csvHtml5'
            ],
            initComplete: function(){
              var $buttons = jq3('.dt-buttons').hide();
              $buttons.parent().parent().children('.downloadInCSV').click(function(){
                $buttons.find('.button-csv').click();
              });
            }
          });
          jq3('#incoming_funds_container').slideDown();
          jq3('#incomingFunds').show();
          jq3.each(res, function(i, data){
            total_incoming_funds = total_incoming_funds + parseFloat(data.value);
            var activity_description = '';
            var provider_org = '';
            var provider_activity_id = '';
            try {
              provider_activity_id = ' (' + data.provider_organisation.provider_activity_id + ')';
            }
            catch {
              provider_activity_id = 'N/A';
            }
            try {
              activity_description = data.description.narrative[0].text;
            }
            catch {
              activity_description = '';
            }
            try {
              provider_org = data.provider_organisation.narrative[0].text + provider_activity_id;
            }
            catch {
              provider_org = 'N/A';
            }
            var transaction_date = new Date(data.transaction_date);
            var final_date = ('0' + transaction_date.getDate()).slice(-2).toString() + ' ' + months[transaction_date.getMonth()] + ' ' + transaction_date.getFullYear().toString();
            var amount = convertCurrency(data.value);
            tabincomingFunds.row.add([activity_description, provider_org, final_date, Dinero({amount: amount['amount'], currency: projectCurrency, precision: amount['precPoint']}).toFormat()]);
            tabincomingFunds.draw();
          });
        }
      });
    }
    // Incoming Funds logic ends here
    
    // Disbursment logic starts here
    function a5(nextPage){
      return jq3.post('/transaction-details-page', {
        data: {
          'projectID': "<%= project['iati_identifier'] %>",
          'transactionType': 3,
          'nextPage': nextPage
        }
      })
      .done(function(response){
        res = response.output['transactions'];
        if (res.length > 0) {
          if(response.output['hasNext'] == null){
            $('#disbursements_more').hide();
          }
          var total_disbursments = 0.00;
          var tabDisbursments = jq3('#disbursements').DataTable({
            retrieve: true,
            "info": false,
            "paging": false,
            "searching": false,
            dom: 'Bfrtip',
            buttons: [
              'csvHtml5'
            ],
            initComplete: function(){
              var $buttons = jq3('.dt-buttons').hide();
              $buttons.parent().parent().children('.downloadInCSV').click(function(){
                $buttons.find('.button-csv').click();
              });
            }
          });
          jq3('#disbursements_container').slideDown();
          jq3('#disbursements').show();
          jq3.each(res, function(i, data){
            total_disbursments = total_disbursments + parseFloat(data.value);
            var receiver_org = '';
            try {
              receiver_org = data.receiver_organisation.narrative[0].text;
            }
            catch {
              receiver_org = 'N/A';
            }
            var receiver_org_type = '';
            try {
              jq3.each(projectInfo, function(i, d){
                if(d.ref == data.receiver_organisation.ref){
                  receiver_org_type = d.type.name;
                }
              });
            }
            catch {
              receiver_org_type = 'N/A';
            }
            var transaction_date = new Date(data.transaction_date);
            var final_date = ('0' + transaction_date.getDate()).slice(-2).toString() + ' ' + months[transaction_date.getMonth()] + ' ' + transaction_date.getFullYear().toString();
            var amount = convertCurrency(data.value);
            tabDisbursments.row.add([receiver_org, receiver_org_type, data.activity.iati_identifier, final_date, Dinero({amount: amount['amount'], currency: projectCurrency, precision: amount['precPoint']}).toFormat()]);
            tabDisbursments.draw();
          });
        }
      });
    }
    // Disbursment logic ends here

    // Expenditure logic starts here
    
    function a4(nextPage) {
      return jq3.post('/transaction-details-page', {
        data: {
          'projectID': "<%= project['iati_identifier'] %>",
          'transactionType': 4,
          'nextPage': nextPage
        }
      })
      .done(function(response){
        res = response.output['transactions'];
        if (res.length > 0) {
          if(response.output['hasNext'] == null){
            $('#expenditures_more').hide();
          }
          var total_expenditures = 0.00;
          var tabExpenditures = jq3('#expenditures').DataTable({
            retrieve: true,
            "info": false,
            "paging": false,
            "searching": false,
            //"ordering": false,
            dom: 'Bfrtip',
            buttons: [
              'csvHtml5'
            ],
            initComplete: function(){
              var $buttons = jq3('.dt-buttons').hide();
              $buttons.parent().parent().children('.downloadInCSV').click(function(){
                $buttons.find('.button-csv').click();
              });
            }
          });
          jq3('#expenditures_container').slideDown();
          jq3('#expenditures').show();
          jq3.each(res, function(i, data){
            total_expenditures = total_expenditures + parseFloat(data.value);
            var receiver_org = '';
            var activity_description = '';
            try {
              receiver_org = data.receiver_organisation.narrative[0].text;
            }
            catch {
              receiver_org = 'N/A';
            }
            try {
              activity_description = data.description.narrative[0].text;
            }
            catch {
              activity_description = 'N/A';
            }
            var transaction_date = new Date(data.transaction_date);
            var final_date = ('0' + transaction_date.getDate()).slice(-2).toString() + ' ' + months[transaction_date.getMonth()] + ' ' + transaction_date.getFullYear().toString();
            var amount = convertCurrency(data.value);
            tabExpenditures.row.add([activity_description, receiver_org, data.activity.iati_identifier, final_date, Dinero({amount: amount['amount'], currency: projectCurrency, precision: amount['precPoint']}).toFormat()]);
            tabExpenditures.draw();
          });
        }
      });
    }
    // Expenditure logic ends here

    //Interest Repayment logic starts here
    function a3(nextPage) {
      return jq3.post('/transaction-details-page', {
        data: {
          'projectID': "<%= project['iati_identifier'] %>",
          'transactionType': 5,
          'nextPage': nextPage
        }
      })
      .done(function(response){
        res = response.output['transactions'];
        if (res.length > 0) {
          if(response.output['hasNext'] == null){
            $('#interestRepayments_more').hide();
          }
          var total_interestRepayments = 0.00;
          var tabInterestRepayments = jq3('#interestRepayments').DataTable({
            retrieve: true,
            "info": false,
            "paging": false,
            "searching": false,
            dom: 'Bfrtip',
            buttons: [
              'csvHtml5'
            ],
            initComplete: function(){
              var $buttons = jq3('.dt-buttons').hide();
              $buttons.parent().parent().children('.downloadInCSV').click(function(){
                $buttons.find('.button-csv').click();
              });
            }
          });
          jq3('#interestRepayments_container').slideDown();
          jq3('#interestRepayments').show();
          jq3.each(res, function(i, data){
            total_interestRepayments = total_interestRepayments + parseFloat(data.value);
            var receiver_org = '';
            var activity_description = '';
            var receiver_activity_id = '';
            try {
              receiver_activity_id = data.receiver_organisation.receiver_activity_id;
            }
            catch {
              receiver_activity_id = 'N/A';
            }
            try {
              receiver_org = data.receiver_organisation.narrative[0].text;
            }
            catch {
              receiver_org = 'N/A';
            }
            try {
              activity_description = data.description.narrative[0].text;
            }
            catch {
              activity_description = 'N/A';
            }
            var transaction_date = new Date(data.transaction_date);
            var final_date = ('0' + transaction_date.getDate()).slice(-2).toString() + ' ' + months[transaction_date.getMonth()] + ' ' + transaction_date.getFullYear().toString();
            var amount = convertCurrency(data.value);
            tabInterestRepayments.row.add([activity_description, receiver_org, receiver_activity_id, final_date, Dinero({amount: amount['amount'], currency: projectCurrency, precision: amount['precPoint']}).toFormat()]);
            tabInterestRepayments.draw();
          });
        }
      });
    }
    //Interest Repayment logic ends here

    //Loan Repayment logic starts here
    
    function a2(nextPage) {
      return jq3.post('/transaction-details-page', {
        data: {
          'projectID': "<%= project['iati_identifier'] %>",
          'transactionType': 6,
          'nextPage': nextPage
        }
      })
      .done(function(response){
        res = response.output['transactions'];
        if (res.length > 0) {
          if(response.output['hasNext'] == null){
            $('#loanRepayments_more').hide();
          }
          var total_interestRepayments = 0.00;
          var tabInterestRepayments = jq3('#loanRepayments').DataTable({
            retrieve: true,
            "info": false,
            "paging": false,
            "searching": false,
            dom: 'Bfrtip',
            buttons: [
              'csvHtml5'
            ],
            initComplete: function(){
              var $buttons = jq3('.dt-buttons').hide();
              $buttons.parent().parent().children('.downloadInCSV').click(function(){
                $buttons.find('.button-csv').click();
              });
            }
          });
          jq3('#loanRepayments_container').slideDown();
          jq3('#loanRepayments').show();
          jq3.each(res, function(i, data){
            total_interestRepayments = total_interestRepayments + parseFloat(data.value);
            var receiver_org = '';
            var activity_description = '';
            var receiver_activity_id = '';
            try {
              receiver_activity_id = data.receiver_organisation.receiver_activity_id;
            }
            catch {
              receiver_activity_id = 'N/A';
            }
            try {
              receiver_org = data.receiver_organisation.narrative[0].text;
              if (receiver_org == 'Journal Transaction') {
                receiver_activity_id = data.iati_identifier;
              }
            }
            catch {
              receiver_org = 'N/A';
            }
            try {
              activity_description = data.description.narrative[0].text;
            }
            catch {
              activity_description = 'N/A';
            }
            var transaction_date = new Date(data.transaction_date);
            var final_date = ('0' + transaction_date.getDate()).slice(-2).toString() + ' ' + months[transaction_date.getMonth()] + ' ' + transaction_date.getFullYear().toString();
            var amount = convertCurrency(data.value);
            tabInterestRepayments.row.add([activity_description, receiver_org, receiver_activity_id, final_date, Dinero({amount: amount['amount'], currency: projectCurrency, precision: amount['precPoint']}).toFormat()]);
            tabInterestRepayments.draw();
          });
        }
      });
    }
    // Loan Repayment logic ends here

    // Purchase of equities
    function a1(nextPage) {
      return jq3.post('/transaction-details-page', {
        data: {
          'projectID': "<%= project['iati_identifier'] %>",
          'transactionType': 8,
          'nextPage': nextPage
        }
      })
      .done(function(response){
        res = response.output['transactions'];
        if (res.length > 0) {
          if(response.output['hasNext'] == null){
            $('#purchaseEquities_more').hide();
          }
          var total_interestRepayments = 0.00;
          var tabInterestRepayments = jq3('#purchaseEquities').DataTable({
            retrieve: true,
            "info": false,
            "paging": false,
            "searching": false,
            dom: 'Bfrtip',
            buttons: [
              'csvHtml5'
            ],
            initComplete: function(){
              var $buttons = jq3('.dt-buttons').hide();
              $buttons.parent().parent().children('.downloadInCSV').click(function(){
                $buttons.find('.button-csv').click();
              });
            }
          });
          jq3('#purchaseEquities_container').slideDown();
          jq3('#purchaseEquities').show();
          jq3.each(res, function(i, data){
            total_interestRepayments = total_interestRepayments + parseFloat(data.value);
            var receiver_org = '';
            var activity_description = '';
            var receiver_activity_id = '';
            try {
              receiver_activity_id = data.receiver_organisation.receiver_activity_id;
            }
            catch {
              receiver_activity_id = 'N/A';
            }
            try {
              receiver_org = data.receiver_organisation.narrative[0].text;
              if (receiver_org == 'Journal Transaction') {
                receiver_activity_id = data.iati_identifier;
              }
            }
            catch {
              receiver_org = 'N/A';
            }
            try {
              activity_description = data.description.narrative[0].text;
            }
            catch {
              activity_description = 'N/A';
            }
            var transaction_date = new Date(data.transaction_date);
            var final_date = ('0' + transaction_date.getDate()).slice(-2).toString() + ' ' + months[transaction_date.getMonth()] + ' ' + transaction_date.getFullYear().toString();
            var amount = convertCurrency(data.value);
            tabInterestRepayments.row.add([activity_description, receiver_org, receiver_activity_id, final_date, Dinero({amount: amount['amount'], currency: projectCurrency, precision: amount['precPoint']}).toFormat()]);
            tabInterestRepayments.draw();
          });
        }
      });
    }
    // Purchase of equity logic ends here
    function allDone() {
      $('#waiting').slideUp('slow');
    }
    function someFailed() {
      console.log('Some failed!');
    }
    $.when(a7(1), a6(1), a5(1), a4(1), a3(1), a2(1), a1(1)).then(allDone, someFailed);
    $('#expenditures_more').click(function(){
      var page = parseInt($('#expenditures_more_data').val()) + 1;
      $('#expenditures_more_data').val(page);
      a4(page);
    });
    $('#purchaseEquities_more').click(function(){
      var page = parseInt($('#purchaseEquities_more_data').val()) + 1;
      $('#purchaseEquities_more_data').val(page);
      a1(page);
    });
    $('#loanRepayments_more').click(function(){
      var page = parseInt($('#loanRepayments_more_data').val()) + 1;
      $('#loanRepayments_more_data').val(page);
      a2(page);
    });
    $('#interestRepayments_more').click(function(){
      var page = parseInt($('#interestRepayments_more_data').val()) + 1;
      $('#interestRepayments_more_data').val(page);
      a3(page);
    });
    $('#disbursements_more').click(function(){
      var page = parseInt($('#disbursements_more_data').val()) + 1;
      $('#disbursements_more_data').val(page);
      a5(page);
    });
    $('#incomingFunds_more').click(function(){
      var page = parseInt($('#incomingFunds_more_data').val()) + 1;
      $('#incomingFunds_more_data').val(page);
      a6(page);
    });
    $('#commitments_more').click(function(){
      var page = parseInt($('#commitments_more_data').val()) + 1;
      $('#commitments_more_data').val(page);
      a7(page);
    });
    jq3.post('/transaction-total', {
      data: {
        project: "<%= project['iati_identifier']%>",
        transactionType: 2,
        currency: "<%= begin project['default_currency']['code'] rescue 'GBP' end%>"
      }
    })
    .done(function(res){
      jq3('#totalCommitmentValue').html(res.output);
    });
    jq3.post('/transaction-total', {
      data: {
        project: "<%= project['iati_identifier']%>",
        transactionType: 1,
        currency: "<%= begin project['default_currency']['code'] rescue 'GBP' end%>"
      }
    })
    .done(function(res){
      jq3('#totalIncomingFundsValue').html(res.output);
    });
    jq3.post('/transaction-total', {
      data: {
        project: "<%= project['iati_identifier']%>",
        transactionType: 3,
        currency: "<%= begin project['default_currency']['code'] rescue 'GBP' end%>"
      }
    })
    .done(function(res){
      jq3('#totalDisbursementsValue').html(res.output);
    });
    jq3.post('/transaction-total', {
      data: {
        project: "<%= project['iati_identifier']%>",
        transactionType: 5,
        currency: "<%= begin project['default_currency']['code'] rescue 'GBP' end%>"
      }
    })
    .done(function(res){
      jq3('#totalInterestRepaymentsValue').html(res.output);
    });
    jq3.post('/transaction-total', {
      data: {
        project: "<%= project['iati_identifier'] %>",
        transactionType: 8,
        currency: "<%= begin project['default_currency']['code'] rescue 'GBP' end%>"
      }
    })
    .done(function(res){
      jq3('#totalPurchaseEquitiesValue').html(res.output);
    });
    jq3.post('/transaction-total', {
      data: {
        project: "<%= project['iati_identifier'] %>",
        transactionType: 6,
        currency: "<%= begin project['default_currency']['code'] rescue 'GBP' end%>"
      }
    })
    .done(function(res){
      jq3('#totalLoanRepaymentsValue').html(res.output);
    });
    jq3.post('/transaction-total', {
      data: {
        project: "<%= project['iati_identifier']%>",
        transactionType: 4,
        currency: "<%= begin project['default_currency']['code'] rescue 'GBP' end%>"
      }
    })
    .done(function(res){
      jq3('#totalExpenditureValue').html(res.output);
    });
    $('.transactions-tab').show();
  })
</script>