<!-- ---
title: Development Tracker
--- -->

<%= erb :'partials/_projects-header', :locals => { :project => project, :active => "transactions"} %>


<%# ------------------------------------------------------------------------ %>
<%#                   C O M M I T M E N T S   T A B L E                      %>
<%# ------------------------------------------------------------------------ %>
<div class="row">
  <div class="twelve columns transactions">
    <% #transactions.select {|group| group['transaction_type']['code'] == 'C' }.each do |transaction_group| %>
    <% #transactions.select {|group| group['transaction_type']['code'] == 'D' }.each do |commitment| %>
     <div class="section-group-title trans-header-container">
          <div class="trans-header-left">
            <span class="trans-type-title">Commitment</span>
            <a class="more-info-link more-info-link-spacer" id="moreinfolink3" target="3">
               <img src="/images/icon-information.png" alt="More information about budget" class="more-info-link-middle"/>
            </a> 
            <aside id="moreinfo3" class="more-info">  
                  <div class="more-info-content trans-more-info-box-limiter">
                    A firm obligation to provide resources of a specified amount.
                  </div>
            </aside>   
            <p style="margin-bottom:2px;">(Obligation to provide funding)</p>
           </div>  

           <div class="trans-header-right">
             <div class="<%#= transaction_group["value"].to_f < 0 ? 'negative' : ''%> float-right trans-type-value"><%#=transaction_group["value"].to_f %>
              <%#= number_to_currency(transaction_group["value"].to_f, :unit=> currency_symbol(project['currency']) || "£", :precision => 0)%>
             </div>
           </div>        
      </div> 
      <table class="transactions-table" style="width:100%">
        <tbody>
          <tr>
            <th><%= "Activity Description" %></th>
            <th width="15%">Activity ID</th>
            <th width="15%">Date</th>
            <th width="15%" style="text-align:right;">Value</th>
          </tr>
          <% transactions.select {|group| group['transaction_type']['code'] == 'C' }.each do |commitment| %>
          <%# commitment.sort_by { | tx | -tx['transaction_date'] }.each do |transaction| %>
            <tr>
              <td><%= commitment['description'] %></td>
              <td width="15%"><%= commitment['activity']['id'] %></td>
              <td width="15%"><%= Date.parse(commitment['transaction_date']).strftime("%d %b %Y")%></td>
              <td width="15%" class="<%= commitment['value'].to_f < 0 ? 'negative' : ''%>" style="text-align:right;"><%=commitment['value'] %><%#= number_to_currency(commitment['value'].to_f, :unit=> currency_symbol(project['currency']) ||  "£", :precision => 0) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% #end %>
  </div>
</div>

<%# ------------------------------------------------------------------------ %>
<%#                   D I S B U R S E M E N T S   T A B L E                  %>
<%# ------------------------------------------------------------------------ %>
<div class="row">
  <div class="twelve columns transactions">
    <% #transactions.select {|group| group['transaction_type']['code'] == 'C' }.each do |transaction_group| %>
    <% #transactions.select {|group| group['transaction_type']['code'] == 'D' }.each do |commitment| %>
     <div class="section-group-title trans-header-container">
          <div class="trans-header-left">
            <span class="trans-type-title">Disbursements</span>
            <a class="more-info-link more-info-link-spacer" id="moreinfolink3" target="3">
               <img src="/images/icon-information.png" alt="More information about budget" class="more-info-link-middle"/>
            </a> 
            <aside id="moreinfo3" class="more-info">  
                  <div class="more-info-content trans-more-info-box-limiter">
                    A firm obligation to provide resources of a specified amount.
                  </div>
            </aside>   
            <p style="margin-bottom:2px;">(Obligation to provide funding)</p>
           </div>  

           <div class="trans-header-right">
             <div class="<%#= transaction_group["value"].to_f < 0 ? 'negative' : ''%> float-right trans-type-value"><%#=transaction_group["value"].to_f %>
              <%#= number_to_currency(transaction_group["value"].to_f, :unit=> currency_symbol(project['currency']) || "£", :precision => 0)%>
             </div>
           </div>        
      </div> 
      <table class="transactions-table" style="width:100%">
        <tbody>
          <tr>
            <th><%= "Activity Description" %></th>
            <th width="15%">Activity ID</th>
            <th width="15%">Date</th>
            <th width="15%" style="text-align:right;">Value</th>
          </tr>
          <% transactions.select {|group| group['transaction_type']['code'] == 'D' }.each do |commitment| %>
          <%# commitment.sort_by { | tx | -tx['transaction_date'] }.each do |transaction| %>
            <tr>
              <td><%= commitment['description'] %></td>
              <td width="15%"><%= commitment['activity']['id'] %></td>
              <td width="15%"><%= Date.parse(commitment['transaction_date']).strftime("%d %b %Y")%></td>
              <td width="15%" class="<%= commitment['value'].to_f < 0 ? 'negative' : ''%>" style="text-align:right;"><%=commitment['value'] %><%#= number_to_currency(commitment['value'].to_f, :unit=> currency_symbol(project['currency']) ||  "£", :precision => 0) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% #end %>
  </div>
</div>

<%# ------------------------------------------------------------------------ %>
<%#                   E X P E N D I T U R E   T A B L E                      %>
<%# ------------------------------------------------------------------------ %>
<div class="row">
  <div class="twelve columns transactions">
    <% #transactions.select {|group| group['transaction_type']['code'] == 'C' }.each do |transaction_group| %>
    <% #transactions.select {|group| group['transaction_type']['code'] == 'D' }.each do |commitment| %>
     <div class="section-group-title trans-header-container">
          <div class="trans-header-left">
            <span class="trans-type-title">Expenditure</span>
            <a class="more-info-link more-info-link-spacer" id="moreinfolink3" target="3">
               <img src="/images/icon-information.png" alt="More information about budget" class="more-info-link-middle"/>
            </a> 
            <aside id="moreinfo3" class="more-info">  
                  <div class="more-info-content trans-more-info-box-limiter">
                    A firm obligation to provide resources of a specified amount.
                  </div>
            </aside>   
            <p style="margin-bottom:2px;">(Obligation to provide funding)</p>
           </div>  

           <div class="trans-header-right">
             <div class="<%#= transaction_group["value"].to_f < 0 ? 'negative' : ''%> float-right trans-type-value"><%#=transaction_group["value"].to_f %>
              <%#= number_to_currency(transaction_group["value"].to_f, :unit=> currency_symbol(project['currency']) || "£", :precision => 0)%>
             </div>
           </div>        
      </div> 
      <table class="transactions-table" style="width:100%">
        <tbody>
          <tr>
            <th><%= "Activity Description" %></th>
            <th width="15%">Activity ID</th>
            <th width="15%">Date</th>
            <th width="15%" style="text-align:right;">Value</th>
          </tr>
          <% transactions.select {|group| group['transaction_type']['code'] == 'E' }.each do |commitment| %>
          <%# commitment.sort_by { | tx | -tx['transaction_date'] }.each do |transaction| %>
            <tr>
              <td><%= commitment['description'] %></td>
              <td width="15%"><%= commitment['activity']['id'] %></td>
              <td width="15%"><%= Date.parse(commitment['transaction_date']).strftime("%d %b %Y")%></td>
              <td width="15%" class="<%= commitment['value'].to_f < 0 ? 'negative' : ''%>" style="text-align:right;"><%=commitment['value'] %><%#= number_to_currency(commitment['value'].to_f, :unit=> currency_symbol(project['currency']) ||  "£", :precision => 0) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% #end %>
  </div>
</div>

<!-- do the same pattern for Disbursements and Expenditure -->