<div class="hero">
<%= erb :'cw/partials/_cw_location-title-bar'%>
<%= erb :'cw/partials/_cw_location-tabs', :locals => { :active => "country" } %>
</div>
<!--[if lte IE 8]>
    <div class="row">
      <div class="disclaimer grey">
          <p>The interactive map functionality is not supported by your browser.</p>
      </div>
    </div>
<![endif]-->

<!--[if lte IE 8]><div class="hide-interactive-map"><![endif]-->
<div class="row">
  <div class="twelve columns" style="margin:-12px 0 0px">
    <h3>Commonwealth Member Countries</h3>
      <p>Fifty three countries are members of the Commonwealth. The countries shaded in blue are where DFID is implementing country specific bilateral projects. Countries shaded in grey are countries in which DFID doesn't currently have any active projects. Regional and global projects are not visualised on this map.</p>
  </div>
</div>
        <div class="row">
            <div class="twelve columns map">
                <script type="text/javascript">
                    var countriesData = <%= dfid_country_map_data_cw %>;
                    var TotalCountryBudget = '<%= total_country_budget_location_cw%>';
                    var finYear = '<%=current_financial_year%>';
                </script>  
<!--                <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script> -->
                <script src="/cw/javascripts/leaflet/leaflet.js" type="text/javascript"></script>
                <script src="/cw/javascripts/leaflet/leaflet-googlemaps.js"></script>
                <script src="/cw/javascripts/leaflet/world.js" type="text/javascript"></script>
                <link rel="stylesheet" href="/cw/javascripts/leaflet/leaflet.css" />
                <!--[if lte IE 8]><link rel="stylesheet" href="/javascripts/leaflet/leaflet.ie.css /><![endif]-->

                <div id="map" role="presentation">
                  <div style="position:absolute; bottom: 10px;z-index:999; left: 10px;">
                    <img src="/cw/images/country-map-legend.png" style="Map Legend"/>
                   <!-- <h3>Current Projects: Total Project Budget for <%=current_financial_year%></h3> -->
                  </div>
                </div>

                <div class="disclaimer grey">
                   <p><em>Disclaimer: </em>Country borders do not necessarily reflect the UK Government's official position.</p>
                </div>
                <script src="/cw/javascripts/leaflet/indexmap.js" type="text/javascript"></script>
            </div>
        </div>
<!--[if lte IE 8]></div><![endif]-->


<div class="row">
  <div id="country-list">
      <div class="two columns">
          <h4>Africa</h4>
            <p>Botswana</p>
            <a href="/cw/countries/CM">Cameroon</a>
            <p>Gambia, The</p>
            <a href="/cw/countries/GH">Ghana</a>
            <a href="/cw/countries/KE">Kenya</a>
            <a href="/cw/countries/LS">Lesotho</a>
            <a href="/cw/countries/MW">Malawi</a>
          <p>Mauritius</p>
            <a href="/cw/countries/MZ">Mozambique</a>
            <p>Namibia</p>
            <a href="/cw/countries/NG">Nigeria</a>
            <a href="/cw/countries/RW">Rwanda</a>
            <p>Seychelles</p>
            <a href="/cw/countries/SL">Sierra Leone</a>
            <a href="/cw/countries/ZA">South Africa</a>
            <p>Swaziland</p>
            <a href="/cw/countries/UG">Uganda</a>
            <a href="/cw/countries/TZ">United Republic of Tanzania</a>
            <a href="/cw/countries/ZM">Zambia</a>
        </div>  
        <div class="two columns">
            <h4>Asia</h4>
            <a href="/cw/countries/BD">Bangladesh</a>
            <p>Brunei Darussalam</p>
            <a href="/cw/countries/IN">India</a>
            <p>Malaysia</p>
            <a href="/cw/countries/PK">Pakistan</a>
            <p>Singapore</p>
            <a href="/cw/countries/LK">Sri Lanka</a>

        </div>  
      <div class="three columns">
            <h4>Caribbean &amp; Americas</h4>
            <p>Antigua and Barbuda</p>
            <p>Bahamas, The</p>
            <p>Barbados</p>
            <p>Belize</p>
            <p>Canada</p>
            <a href="/cw/countries/DM">Dominica</a>
            <p>Grenada</p>
            <p>Guyana</p>
            <a href="/cw/countries/JM">Jamaica</a>
            <p>Saint Lucia</p>
            <p>St Kitts and Nevis</p>
            <p>St Vincent and The Grenadines</p>
            <p>Trinidad and Tobago</p>
        </div>  
    <div class="two columns">
            <h4>Europe</h4>
            <p>Cyprus</p>
            <p>Malta</p>
            <p>United Kingdom</p>
    

    

    </div>  
    <div class="two columns">
            <h4>Pacific</h4>
            <p>Australia
            <p>Fiji
            <p>Kiribati
            <p>New Zealand
            <p>Papua New Guinea
            <p>Samoa
            <p>Solomon Islands
            <p>Tonga
            <p>Tuvalu
            <p>Vanuatu</p>
    </div>
</div>
            </div> 

