<div class="govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="/">Home</a></li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">Aid by Sector</li>
    </ol>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">Aid by sector</h1>
        <p class="govuk-body">Sector budgets are aggregated from Programme level data. Government Programme budgets tied to specific sector codes for the current financial year are aggregated and the total is shown.</p>
        <p class="govuk-body">These figures are updated monthly from all available data sources.</p>
        <h2 class="govuk-heading-m">Sector Breakdown</h2>
        <table class="govuk-table datatable">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header" aria-sort="ascending"><span>Sector</span></th>
                    <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none"><span>Budget</span></th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <% (high_level_sector_list['sectorsData'] || []).each do |sector| %>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell" data-sort-value="<%=sector['name']%>">
                            <a href="/sector/<%=sector['code']%>" class="govuk-link"><%=sector['name']%></a>
                            <div class="app-progress-bar">
                                <span class="govuk-body-xs govuk-!-margin-bottom-0 app-progress-bar__label"><%budgetPercentage = 100*sector['budget'].to_f/high_level_sector_list['totalBudget'].to_f %><%=format_percentage budgetPercentage %></span>
                                <div class="app-progress-bar__meter" style="width:calc(<%=format_percentage (budgetPercentage)%> + 25px);"></div>
                            </div>
                        </td>
                        <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-font-weight-bold" data-sort-value="<%=format_round_m sector['budget'].to_f || 0.0 %>"><span class="sector-value">&pound;<%=format_round_m sector['budget'].to_f || 0.0 %> </span></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>
<script src="/javascripts/sortSectorBudget.js" type="text/javascript"></script>
<script src="/javascripts/jquery.dataTables.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready( function () {
        $('.datatable').DataTable({
        "info": false,
        "paging": false,
        "searching": false        
        });
    });
</script>