<!--
title: Development Tracker
-->
<div class="hero hero-notabs">
<div id="page-title" class="row">
    <div class="twelve columns">
        <img src="/images/cw_ukaid_logo.png" alt="UK aid from the British people">
        <div>
            <div class="govuk-breadcrumbs">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="/">Home</a></li>
                    <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="/sector">Aid by Sector</a></li>
                    <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="/sector/<%=sector_list[:sectorHierarchyPath][:highLevelSectorCode]%>/"><%=sector_list[:sectorHierarchyPath][:highLevelSectorDescription]%></a></li>
                    <%#if !(defined?(sectorData['categoryCode'])).nil? %>
                    <%if sectorData['categoryCode'].length > 0 %>
                    <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="/sector/<%=sector_list[:sectorHierarchyPath][:highLevelSectorCode]%>/categories/<%=sectorData['categoryCode']%>"><%=sector_list[:sectorHierarchyPath][:categoryDescription]%></a></li>
                    <%end%>
                    <%if !(defined?(sectorData['sectorName'])).nil?%>
                    <li class="govuk-breadcrumbs__list-item" aria-current="page"><%= sectorData['sectorName'] %></li>
                    <%end%>
                </ol>
            </div>
            <h1>
                Aid by Sector
            </h1>
        </div>
    </div>
</div>
</div>
<%#= partial "partials/_project_list", :locals => { :projects => projects.to_a } %>
<%= erb :'partials/_project_list', :locals => { :projects => projects, :oipa_api_url => oipa_api_url, :sectorData => sectorData, :project_count => total_projects, :countryAllProjectFilters => countryAllProjectFilters, :highLevelSectorList => highLevelSectorList, :total_projects => total_projects, :budgetHigherBound => budgetHigherBound, :actualStartDate => actualStartDate, :plannedEndDate => plannedEndDate, :locationCountryFilters => locationCountryFilters, :locationRegionFilters => locationRegionFilters, :documentTypes => documentTypes, :implementingOrgTypes => implementingOrgTypes, :reportingOrgTypes => reportingOrgTypes } %>